@import 'https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans|Amatic+SC';
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 43.2px;
}

h3 {
  font-size: 38.4px;
}

h4 {
  font-size: 33.6px;
}

h5 {
  font-size: 28.8px;
}

h6 {
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  margin: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  width: 100%;
  font-size: 0.8em;
  padding: 5px 10px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #03151f;
  color: white;
}

.fm-container {
  width: 100%;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

@media all and (min-width: 640px) {
  .fm-container {
    width: 300px;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 3px black;
  }
}

.fm-container .fm-container_header {
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.fm-container .fm-container_logo {
  width: 130px;
  height: 130px;
}

.fm-container .fm-container_title {
  font-size: 2em;
  margin: 0;
}

.fm-container .fm-container_subtitle {
  margin: 0;
  font-size: 0.7em;
}

.fm-container .fm-container_body {
  display: none;
}

.fm-form {
  display: none;
}

.fm-form .fm-form_group {
  width: 80%;
  margin: 10px auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.fm-form .fm-form_control {
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background: #f0f0f0;
}

.fm-form .fm-form_control:hover, .fm-form .fm-form_control:focus {
  outline: 2px solid #00b1f3;
}

.fm-form .fm-form_introMessage, .fm-form .fm-form_warning {
  text-align: center;
  font-size: 0.9em;
  margin: 0;
  font-weight: bold;
}

.fm-form .fm-form_warning {
  color: #fda51e;
  margin-top: 10px;
  margin-bottom: 20px;
}

.fm-form .fm-form_button {
  margin-top: 15px;
  background: #00b1f3;
  border: 0;
  padding: 10px;
  width: 100%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  box-shadow: 0 3px 0 0 #006bab;
  text-shadow: 1px 1px 1px #03151f;
}

.fm-form .fm-form_button:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 1px 0 0 #006bab;
  text-shadow: 1px 1px 5px #03151f;
}

.fm-form .fm-form_message {
  font-size: 0.8em;
  margin: 0;
  margin-top: 3px;
}

.fm-form .fm-form_link {
  text-decoration: none;
  color: #006bab;
  cursor: pointer;
  text-decoration: underline;
}

.fm-form .fm-form_link:hover {
  font-weight: bold;
}

[class*='ilm-']::before {
  font-size: 20px;
  padding: 0 10px;
}

.mainContent {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.indexBody {
  background: url("../resources/images//cover.png") center center;
  background-size: cover;
}

.main-box {
  width: 100%;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0 2px 5px #03151f;
  background: #006bab;
  color: #dcf1f3;
}

.main-navbar .main-navbar-logo {
  width: 45px;
  height: 45px;
  padding: 5px;
  border-radius: 50%;
}

.main-navbar .main-navbar-name {
  margin: 0;
  padding-right: 10px;
}

.main-navbar .main-navbar-finder {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 10px;
}

.main-navbar .main-navbar-input {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
  border: 1px solid #03151f;
  box-shadow: 0 0 3px #03151f inset, 0 0 3px #03151f;
  outline: 0;
  padding: 5px 10px;
  transition: border 0.1s ease-in-out;
  position: relative;
}

.main-navbar .main-navbar-input::after {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  content: 's';
  background: red;
}

.main-navbar .main-navbar-notificator {
  width: 50px;
  height: 50px;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #03151f;
  margin: 0;
  position: relative;
}

.main-navbar .main-navbar-notificator:hover {
  background: #dcf1f3;
  color: #006bab;
}

.main-navbar .main-navbar-notificator.activate::before {
  margin-top: 8px;
  margin-right: 8px;
}

.main-navbar .main-navbar-notificator.activate::after {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #00b1f3;
  color: #dcf1f3;
  content: attr(data-counter);
  font-weight: bold;
  margin-top: 6px;
  margin-right: 6px;
}

.control-pane {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  width: 360px;
  margin: 10px;
  border: 2px solid #333333;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f0f0f0;
  box-shadow: 0 5px 5px 1px #333333;
  -webkit-transform: translateX(-370px);
      -ms-transform: translateX(-370px);
          transform: translateX(-370px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  position: relative;
}

.control-pane.menu__visible {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.control-pane.menu__visible .control-pane-menuIcon {
  left: calc(100% - 42px);
  background: transparent;
  color: #dcf1f3;
}

.control-pane .control-pane-menuIcon {
  position: absolute;
  top: -2px;
  left: 100%;
  width: 42px;
  height: 42px;
  background: #333333;
  border: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: all 0.5s ease-in-out;
  outline: 0;
}

.control-pane .control-pane-user {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #006bab;
  color: #dcf1f3;
  outline: 1px solid #333333;
}

.control-pane .control-pane-userinfo {
  padding: 10px;
  padding-left: 0;
  padding-right: 60px;
}

.control-pane .control-pane-userPicture {
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
}

.control-pane .control-pane-username, .control-pane .control-pane-userid {
  margin: 0;
}

.control-pane .control-pane-userid {
  color: #dcf1f3;
}

.control-pane .control-pane-configIcon {
  position: absolute;
  left: calc(100% - 42px);
  bottom: 0;
  width: 42px;
  height: 42px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-pane .control-pane-info {
  padding: 0 10px;
  display: none;
}

.control-pane .control-pane-infoToggle {
  padding: 0 10px;
  background: #333333;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.control-pane .control-pane-data {
  margin: 0;
  padding: 2px 0;
}

.control-pane .control-pane-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00b1f3;
  padding-left: 10px;
  outline: 1px solid #333333;
}

.control-pane .control-pane-section:last-child {
  margin-top: auto;
  margin-bottom: 0;
}

.control-pane .control-pane-section:hover {
  background: #00b1f3;
}

.control-pane .control-pane-section::after {
  content: attr(data-counter);
  font-weight: bold;
}

.control-pane .control-pane-section::before {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.control-pane .control-pane-name {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  line-height: 40px;
}

/*# sourceMappingURL=styles.css.map */