@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans|Amatic+SC';
*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #006bab, #008bde);
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 43.2px;
}

h3 {
  font-size: 38.4px;
}

h4 {
  font-size: 33.6px;
}

h5 {
  font-size: 28.8px;
}

h6 {
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  padding: 10px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  width: 100%;
  font-size: 0.8em;
  padding: 5px 10px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #03151f;
  color: white;
}

.fm-container {
  width: 100%;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

@media all and (min-width: 640px) {
  .fm-container {
    width: 300px;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 3px black;
  }
}

.fm-container .fm-container_header {
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.fm-container .fm-container_logo {
  width: 130px;
  height: 130px;
}

.fm-container .fm-container_title {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.fm-container .fm-container_subtitle {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}

.fm-container .fm-container_body {
  display: none;
}

.fm-form {
  display: none;
}

.fm-form .fm-form_group {
  width: 80%;
  margin: 10px auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.fm-form .fm-form_control {
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background: #f0f0f0;
}

.fm-form .fm-form_control:hover, .fm-form .fm-form_control:focus {
  outline: 2px solid #00b1f3;
}

.fm-form .fm-form_introMessage, .fm-form .fm-form_warning {
  text-align: center;
  font-size: 0.9em;
  margin: 0;
  font-weight: bold;
}

.fm-form .fm-form_warning {
  color: #fda51e;
  margin-top: 10px;
  margin-bottom: 20px;
}

.fm-form .fm-form_button {
  margin-top: 15px;
  background: #00b1f3;
  border: 0;
  padding: 10px;
  width: 100%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  box-shadow: 0 3px 0 0 #006bab;
  text-shadow: 1px 1px 1px #03151f;
}

.fm-form .fm-form_button:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 1px 0 0 #006bab;
  text-shadow: 1px 1px 5px #03151f;
}

.fm-form .fm-form_message {
  font-size: 0.8em;
  margin: 0;
  margin-top: 3px;
}

.fm-form .fm-form_link {
  text-decoration: none;
  color: #006bab;
  cursor: pointer;
  text-decoration: underline;
}

.fm-form .fm-form_link:hover {
  font-weight: bold;
}

.ntf {
  color: #03151f;
  border-bottom: 1px solid #03151f;
  background: #dcf1f3;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.ntf:hover {
  background: #006bab;
  color: #dcf1f3;
}

.ntf .ntf-picture {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ntf .ntf-group {
  padding-left: 10px;
}

.ntf .ntf-subject, .ntf .ntf-user {
  padding: 0;
}

.ntf .ntf-monitor, .ntf .ntf-student, .ntf .ntf-place, .ntf .ntf-date, .ntf .ntf-time {
  margin: 0;
}

.ntf .ntf-monitor::before, .ntf .ntf-student::before, .ntf .ntf-place::before, .ntf .ntf-date::before, .ntf .ntf-time::before {
  font-weight: bold;
}

.ntf .ntf-monitor::before {
  content: 'Monitor: ';
}

.ntf .ntf-student::before {
  content: 'Estudiante: ';
}

.ntf .ntf-place::before {
  content: 'Lugar: ';
}

.ntf .ntf-date::before {
  content: 'Fecha: ';
}

.ntf .ntf-time::before {
  content: 'Duración: ';
}

.ntf .ntf-description {
  padding: 10px;
  padding-top: 0;
  padding-left: 0;
  margin: 0;
}

.ntf .ntf-dateFixed {
  font-style: italic;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.7em;
  margin-right: 10px;
  margin-bottom: 5px;
}

[class*='ilm-']::before {
  font-size: 20px;
  padding: 0 10px;
}

.mainContent {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.indexBody {
  background: url("../resources/images//cover.png") center center;
  background-size: cover;
}

.main-box {
  width: 100%;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0 2px 5px #03151f;
  background: #006bab;
  color: #dcf1f3;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

.main-navbar .main-navbar-logo {
  width: 45px;
  height: 45px;
  padding: 5px;
  border-radius: 50%;
}

.main-navbar .main-navbar-name {
  margin: 0;
  padding-right: 10px;
  display: none;
}

@media all and (min-width: 768px) {
  .main-navbar .main-navbar-name {
    display: block;
  }
}

.main-navbar .main-navbar-finder {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  position: relative;
}

.main-navbar .main-navbar-input {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
  border: 1px solid #03151f;
  box-shadow: 0 0 3px #03151f inset, 0 0 3px #03151f;
  outline: 0;
  padding: 5px 10px;
  margin-left: 10px;
  transition: border 0.1s ease-in-out;
  position: relative;
}

.main-navbar .main-navbar-input::after {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  content: 's';
  background: red;
}

.main-navbar .toogle-options {
  cursor: pointer;
}

.main-navbar .toogle-options.is-hover:before {
  content: '\e00E';
}

.main-navbar .main-navbar-findOptions, .main-navbar .main-navbar-boxNotification {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  color: #03151f;
  box-shadow: 0 3px 5px -1px #03151f;
  z-index: 300;
}

.main-navbar .main-navbar-findOptions {
  width: 100%;
  background: #00b1f3;
}

.main-navbar .main-navbar-boxNotification {
  width: 350px;
  max-height: 80vh;
  overflow-y: auto;
}

@media all and (min-width: 768px) {
  .main-navbar .main-navbar-boxNotification {
    display: none;
  }
}

.main-navbar .main-navbar-logout, .main-navbar .main-navbar-notificator {
  width: 50px;
  height: 50px;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  position: relative;
  cursor: pointer;
}

.main-navbar .main-navbar-logout:hover, .main-navbar .main-navbar-notificator:hover {
  background: #dcf1f3;
  color: #006bab;
}

.main-navbar .main-navbar-logout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #03151f;
  margin-left: 10px;
}

.main-navbar .main-navbar-notificator {
  display: none;
}

@media all and (min-width: 768px) {
  .main-navbar .main-navbar-notificator {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-navbar .main-navbar-notificator.is-hover {
  background: #dcf1f3;
  color: #006bab;
}

.main-navbar .main-navbar-notificator.activate::before {
  margin-top: 8px;
  margin-right: 8px;
}

.main-navbar .main-navbar-notificator.activate::after {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #00b1f3;
  color: #dcf1f3;
  content: attr(data-counter);
  font-weight: bold;
  margin-top: 6px;
  margin-right: 6px;
}

.main-navbar .main-navbar-title {
  font-size: 1em;
  text-align: center;
  background: #006bab;
  color: #dcf1f3;
  border-bottom: 1px solid #dcf1f3;
  padding: 0;
}

.main-navbar .ntf:last-child {
  border: 0;
}

.control-pane {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  width: 100%;
  margin: 0;
  background: #f0f0f0;
  box-shadow: 0 5px 5px 1px #333333;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (min-width: 768px) {
  .control-pane {
    width: 360px;
    margin: 10px;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    display: block;
    -webkit-transform: translateX(-370px);
        -ms-transform: translateX(-370px);
            transform: translateX(-370px);
    border: 2px solid #333333;
  }
}

@media all and (min-width: 1024px) {
  .control-pane {
    position: relative;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

.control-pane.menu__visible {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.control-pane.menu__visible .control-pane-menuIcon {
  right: 0;
  opacity: 1;
  background: transparent;
  color: #dcf1f3;
}

.control-pane .control-pane-menuIcon, .control-pane .control-pane-notificationsIcon {
  width: 42px;
  height: 42px;
  border: 0;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 0;
  cursor: pointer;
}

@media all and (min-width: 768px) {
  .control-pane .control-pane-menuIcon, .control-pane .control-pane-notificationsIcon {
    position: absolute;
    top: -2px;
    right: 0;
    right: -42px;
    background: #333333;
    transition: all 0.5s ease-in-out;
  }
}

.control-pane .control-pane-notificationsIcon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media all and (min-width: 768px) {
  .control-pane .control-pane-notificationsIcon {
    display: none;
  }
}

.control-pane .control-pane-menuIcon {
  display: none;
  opacity: 0.5;
}

.control-pane .control-pane-menuIcon:hover {
  opacity: 1;
}

@media all and (min-width: 768px) {
  .control-pane .control-pane-menuIcon {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (min-width: 1024px) {
  .control-pane .control-pane-menuIcon {
    display: none;
  }
}

.control-pane .control-pane-user {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #006bab;
  color: #dcf1f3;
  outline: 1px solid #333333;
}

.control-pane .control-pane-userinfo {
  padding: 10px;
  padding-left: 0;
  padding-right: 10px;
}

@media all and (min-width: 768px) {
  .control-pane .control-pane-userinfo {
    padding-right: 40px;
  }
}

.control-pane .control-pane-userPicture {
  margin: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
}

@media all and (min-width: 768px) {
  .control-pane .control-pane-userPicture {
    width: 100px;
    height: 100px;
  }
}

.control-pane .control-pane-username, .control-pane .control-pane-userid {
  margin: 0;
  padding: 0;
}

.control-pane .control-pane-username {
  font-size: 1.3em;
}

@media all and (min-width: 768px) {
  .control-pane .control-pane-username {
    font-size: 2em;
  }
}

.control-pane .control-pane-userid {
  color: #dcf1f3;
  display: none;
}

@media all and (min-width: 768px) {
  .control-pane .control-pane-userid {
    display: inherit;
  }
}

.control-pane .control-pane-configIcon {
  width: 42px;
  height: 42px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media all and (min-width: 768px) {
  .control-pane .control-pane-configIcon {
    position: absolute;
    left: calc(100% - 42px);
    bottom: 0;
    margin-left: 0;
  }
}

.control-pane .control-pane-info {
  padding: 0 10px;
  display: none;
}

.control-pane .control-pane-infoToggle {
  width: 100%;
  padding: 0 10px;
  background: #333333;
  color: white;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border: 0;
  cursor: pointer;
  outline: 0;
  display: none;
}

@media all and (min-width: 768px) {
  .control-pane .control-pane-infoToggle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.control-pane .control-pane-data {
  margin: 0;
  padding: 2px 0;
}

.control-pane .control-pane-notifications {
  display: none;
}

@media all and (min-width: 768px) {
  .control-pane .control-pane-notifications {
    display: block !important;
  }
}

.control-pane .control-pane-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00b1f3;
  line-height: 40px;
  padding: 0;
  padding-left: 10px;
  outline: 1px solid #333333;
  font-size: 0.9em;
  font-weight: bold;
}

@media all and (min-width: 640px) {
  .control-pane .control-pane-section {
    font-size: 1.2em;
  }
}

@media all and (min-width: 768px) {
  .control-pane .control-pane-section {
    font-size: 1.5em;
  }
}

.control-pane .control-pane-section:hover {
  background: #006bab;
}

.control-pane .control-pane-section::after {
  content: attr(data-counter);
  font-weight: bold;
  font-size: 13px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #006bab;
  color: #dcf1f3;
  margin-right: 0;
  margin-left: auto;
}

.control-pane .control-pane-section::before {
  margin-left: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

@media all and (min-width: 640px) {
  .mobile-1 {
    width: 1%;
  }
  .mobile-2 {
    width: 2%;
  }
  .mobile-3 {
    width: 3%;
  }
  .mobile-4 {
    width: 4%;
  }
  .mobile-5 {
    width: 5%;
  }
  .mobile-6 {
    width: 6%;
  }
  .mobile-7 {
    width: 7%;
  }
  .mobile-8 {
    width: 8%;
  }
  .mobile-9 {
    width: 9%;
  }
  .mobile-10 {
    width: 10%;
  }
  .mobile-11 {
    width: 11%;
  }
  .mobile-12 {
    width: 12%;
  }
  .mobile-13 {
    width: 13%;
  }
  .mobile-14 {
    width: 14%;
  }
  .mobile-15 {
    width: 15%;
  }
  .mobile-16 {
    width: 16%;
  }
  .mobile-17 {
    width: 17%;
  }
  .mobile-18 {
    width: 18%;
  }
  .mobile-19 {
    width: 19%;
  }
  .mobile-20 {
    width: 20%;
  }
  .mobile-21 {
    width: 21%;
  }
  .mobile-22 {
    width: 22%;
  }
  .mobile-23 {
    width: 23%;
  }
  .mobile-24 {
    width: 24%;
  }
  .mobile-25 {
    width: 25%;
  }
  .mobile-26 {
    width: 26%;
  }
  .mobile-27 {
    width: 27%;
  }
  .mobile-28 {
    width: 28%;
  }
  .mobile-29 {
    width: 29%;
  }
  .mobile-30 {
    width: 30%;
  }
  .mobile-31 {
    width: 31%;
  }
  .mobile-32 {
    width: 32%;
  }
  .mobile-33 {
    width: 33%;
  }
  .mobile-34 {
    width: 34%;
  }
  .mobile-35 {
    width: 35%;
  }
  .mobile-36 {
    width: 36%;
  }
  .mobile-37 {
    width: 37%;
  }
  .mobile-38 {
    width: 38%;
  }
  .mobile-39 {
    width: 39%;
  }
  .mobile-40 {
    width: 40%;
  }
  .mobile-41 {
    width: 41%;
  }
  .mobile-42 {
    width: 42%;
  }
  .mobile-43 {
    width: 43%;
  }
  .mobile-44 {
    width: 44%;
  }
  .mobile-45 {
    width: 45%;
  }
  .mobile-46 {
    width: 46%;
  }
  .mobile-47 {
    width: 47%;
  }
  .mobile-48 {
    width: 48%;
  }
  .mobile-49 {
    width: 49%;
  }
  .mobile-50 {
    width: 50%;
  }
  .mobile-51 {
    width: 51%;
  }
  .mobile-52 {
    width: 52%;
  }
  .mobile-53 {
    width: 53%;
  }
  .mobile-54 {
    width: 54%;
  }
  .mobile-55 {
    width: 55%;
  }
  .mobile-56 {
    width: 56%;
  }
  .mobile-57 {
    width: 57%;
  }
  .mobile-58 {
    width: 58%;
  }
  .mobile-59 {
    width: 59%;
  }
  .mobile-60 {
    width: 60%;
  }
  .mobile-61 {
    width: 61%;
  }
  .mobile-62 {
    width: 62%;
  }
  .mobile-63 {
    width: 63%;
  }
  .mobile-64 {
    width: 64%;
  }
  .mobile-65 {
    width: 65%;
  }
  .mobile-66 {
    width: 66%;
  }
  .mobile-67 {
    width: 67%;
  }
  .mobile-68 {
    width: 68%;
  }
  .mobile-69 {
    width: 69%;
  }
  .mobile-70 {
    width: 70%;
  }
  .mobile-71 {
    width: 71%;
  }
  .mobile-72 {
    width: 72%;
  }
  .mobile-73 {
    width: 73%;
  }
  .mobile-74 {
    width: 74%;
  }
  .mobile-75 {
    width: 75%;
  }
  .mobile-76 {
    width: 76%;
  }
  .mobile-77 {
    width: 77%;
  }
  .mobile-78 {
    width: 78%;
  }
  .mobile-79 {
    width: 79%;
  }
  .mobile-80 {
    width: 80%;
  }
  .mobile-81 {
    width: 81%;
  }
  .mobile-82 {
    width: 82%;
  }
  .mobile-83 {
    width: 83%;
  }
  .mobile-84 {
    width: 84%;
  }
  .mobile-85 {
    width: 85%;
  }
  .mobile-86 {
    width: 86%;
  }
  .mobile-87 {
    width: 87%;
  }
  .mobile-88 {
    width: 88%;
  }
  .mobile-89 {
    width: 89%;
  }
  .mobile-90 {
    width: 90%;
  }
  .mobile-91 {
    width: 91%;
  }
  .mobile-92 {
    width: 92%;
  }
  .mobile-93 {
    width: 93%;
  }
  .mobile-94 {
    width: 94%;
  }
  .mobile-95 {
    width: 95%;
  }
  .mobile-96 {
    width: 96%;
  }
  .mobile-97 {
    width: 97%;
  }
  .mobile-98 {
    width: 98%;
  }
  .mobile-99 {
    width: 99%;
  }
  .mobile-100 {
    width: 100%;
  }
  .mobile-auto {
    width: auto;
  }
  .mobile-hidden {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .tablet-1 {
    width: 1%;
  }
  .tablet-2 {
    width: 2%;
  }
  .tablet-3 {
    width: 3%;
  }
  .tablet-4 {
    width: 4%;
  }
  .tablet-5 {
    width: 5%;
  }
  .tablet-6 {
    width: 6%;
  }
  .tablet-7 {
    width: 7%;
  }
  .tablet-8 {
    width: 8%;
  }
  .tablet-9 {
    width: 9%;
  }
  .tablet-10 {
    width: 10%;
  }
  .tablet-11 {
    width: 11%;
  }
  .tablet-12 {
    width: 12%;
  }
  .tablet-13 {
    width: 13%;
  }
  .tablet-14 {
    width: 14%;
  }
  .tablet-15 {
    width: 15%;
  }
  .tablet-16 {
    width: 16%;
  }
  .tablet-17 {
    width: 17%;
  }
  .tablet-18 {
    width: 18%;
  }
  .tablet-19 {
    width: 19%;
  }
  .tablet-20 {
    width: 20%;
  }
  .tablet-21 {
    width: 21%;
  }
  .tablet-22 {
    width: 22%;
  }
  .tablet-23 {
    width: 23%;
  }
  .tablet-24 {
    width: 24%;
  }
  .tablet-25 {
    width: 25%;
  }
  .tablet-26 {
    width: 26%;
  }
  .tablet-27 {
    width: 27%;
  }
  .tablet-28 {
    width: 28%;
  }
  .tablet-29 {
    width: 29%;
  }
  .tablet-30 {
    width: 30%;
  }
  .tablet-31 {
    width: 31%;
  }
  .tablet-32 {
    width: 32%;
  }
  .tablet-33 {
    width: 33%;
  }
  .tablet-34 {
    width: 34%;
  }
  .tablet-35 {
    width: 35%;
  }
  .tablet-36 {
    width: 36%;
  }
  .tablet-37 {
    width: 37%;
  }
  .tablet-38 {
    width: 38%;
  }
  .tablet-39 {
    width: 39%;
  }
  .tablet-40 {
    width: 40%;
  }
  .tablet-41 {
    width: 41%;
  }
  .tablet-42 {
    width: 42%;
  }
  .tablet-43 {
    width: 43%;
  }
  .tablet-44 {
    width: 44%;
  }
  .tablet-45 {
    width: 45%;
  }
  .tablet-46 {
    width: 46%;
  }
  .tablet-47 {
    width: 47%;
  }
  .tablet-48 {
    width: 48%;
  }
  .tablet-49 {
    width: 49%;
  }
  .tablet-50 {
    width: 50%;
  }
  .tablet-51 {
    width: 51%;
  }
  .tablet-52 {
    width: 52%;
  }
  .tablet-53 {
    width: 53%;
  }
  .tablet-54 {
    width: 54%;
  }
  .tablet-55 {
    width: 55%;
  }
  .tablet-56 {
    width: 56%;
  }
  .tablet-57 {
    width: 57%;
  }
  .tablet-58 {
    width: 58%;
  }
  .tablet-59 {
    width: 59%;
  }
  .tablet-60 {
    width: 60%;
  }
  .tablet-61 {
    width: 61%;
  }
  .tablet-62 {
    width: 62%;
  }
  .tablet-63 {
    width: 63%;
  }
  .tablet-64 {
    width: 64%;
  }
  .tablet-65 {
    width: 65%;
  }
  .tablet-66 {
    width: 66%;
  }
  .tablet-67 {
    width: 67%;
  }
  .tablet-68 {
    width: 68%;
  }
  .tablet-69 {
    width: 69%;
  }
  .tablet-70 {
    width: 70%;
  }
  .tablet-71 {
    width: 71%;
  }
  .tablet-72 {
    width: 72%;
  }
  .tablet-73 {
    width: 73%;
  }
  .tablet-74 {
    width: 74%;
  }
  .tablet-75 {
    width: 75%;
  }
  .tablet-76 {
    width: 76%;
  }
  .tablet-77 {
    width: 77%;
  }
  .tablet-78 {
    width: 78%;
  }
  .tablet-79 {
    width: 79%;
  }
  .tablet-80 {
    width: 80%;
  }
  .tablet-81 {
    width: 81%;
  }
  .tablet-82 {
    width: 82%;
  }
  .tablet-83 {
    width: 83%;
  }
  .tablet-84 {
    width: 84%;
  }
  .tablet-85 {
    width: 85%;
  }
  .tablet-86 {
    width: 86%;
  }
  .tablet-87 {
    width: 87%;
  }
  .tablet-88 {
    width: 88%;
  }
  .tablet-89 {
    width: 89%;
  }
  .tablet-90 {
    width: 90%;
  }
  .tablet-91 {
    width: 91%;
  }
  .tablet-92 {
    width: 92%;
  }
  .tablet-93 {
    width: 93%;
  }
  .tablet-94 {
    width: 94%;
  }
  .tablet-95 {
    width: 95%;
  }
  .tablet-96 {
    width: 96%;
  }
  .tablet-97 {
    width: 97%;
  }
  .tablet-98 {
    width: 98%;
  }
  .tablet-99 {
    width: 99%;
  }
  .tablet-100 {
    width: 100%;
  }
  .tablet-auto {
    width: auto;
  }
  .tablet-hidden {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .laptop-1 {
    width: 1%;
  }
  .laptop-2 {
    width: 2%;
  }
  .laptop-3 {
    width: 3%;
  }
  .laptop-4 {
    width: 4%;
  }
  .laptop-5 {
    width: 5%;
  }
  .laptop-6 {
    width: 6%;
  }
  .laptop-7 {
    width: 7%;
  }
  .laptop-8 {
    width: 8%;
  }
  .laptop-9 {
    width: 9%;
  }
  .laptop-10 {
    width: 10%;
  }
  .laptop-11 {
    width: 11%;
  }
  .laptop-12 {
    width: 12%;
  }
  .laptop-13 {
    width: 13%;
  }
  .laptop-14 {
    width: 14%;
  }
  .laptop-15 {
    width: 15%;
  }
  .laptop-16 {
    width: 16%;
  }
  .laptop-17 {
    width: 17%;
  }
  .laptop-18 {
    width: 18%;
  }
  .laptop-19 {
    width: 19%;
  }
  .laptop-20 {
    width: 20%;
  }
  .laptop-21 {
    width: 21%;
  }
  .laptop-22 {
    width: 22%;
  }
  .laptop-23 {
    width: 23%;
  }
  .laptop-24 {
    width: 24%;
  }
  .laptop-25 {
    width: 25%;
  }
  .laptop-26 {
    width: 26%;
  }
  .laptop-27 {
    width: 27%;
  }
  .laptop-28 {
    width: 28%;
  }
  .laptop-29 {
    width: 29%;
  }
  .laptop-30 {
    width: 30%;
  }
  .laptop-31 {
    width: 31%;
  }
  .laptop-32 {
    width: 32%;
  }
  .laptop-33 {
    width: 33%;
  }
  .laptop-34 {
    width: 34%;
  }
  .laptop-35 {
    width: 35%;
  }
  .laptop-36 {
    width: 36%;
  }
  .laptop-37 {
    width: 37%;
  }
  .laptop-38 {
    width: 38%;
  }
  .laptop-39 {
    width: 39%;
  }
  .laptop-40 {
    width: 40%;
  }
  .laptop-41 {
    width: 41%;
  }
  .laptop-42 {
    width: 42%;
  }
  .laptop-43 {
    width: 43%;
  }
  .laptop-44 {
    width: 44%;
  }
  .laptop-45 {
    width: 45%;
  }
  .laptop-46 {
    width: 46%;
  }
  .laptop-47 {
    width: 47%;
  }
  .laptop-48 {
    width: 48%;
  }
  .laptop-49 {
    width: 49%;
  }
  .laptop-50 {
    width: 50%;
  }
  .laptop-51 {
    width: 51%;
  }
  .laptop-52 {
    width: 52%;
  }
  .laptop-53 {
    width: 53%;
  }
  .laptop-54 {
    width: 54%;
  }
  .laptop-55 {
    width: 55%;
  }
  .laptop-56 {
    width: 56%;
  }
  .laptop-57 {
    width: 57%;
  }
  .laptop-58 {
    width: 58%;
  }
  .laptop-59 {
    width: 59%;
  }
  .laptop-60 {
    width: 60%;
  }
  .laptop-61 {
    width: 61%;
  }
  .laptop-62 {
    width: 62%;
  }
  .laptop-63 {
    width: 63%;
  }
  .laptop-64 {
    width: 64%;
  }
  .laptop-65 {
    width: 65%;
  }
  .laptop-66 {
    width: 66%;
  }
  .laptop-67 {
    width: 67%;
  }
  .laptop-68 {
    width: 68%;
  }
  .laptop-69 {
    width: 69%;
  }
  .laptop-70 {
    width: 70%;
  }
  .laptop-71 {
    width: 71%;
  }
  .laptop-72 {
    width: 72%;
  }
  .laptop-73 {
    width: 73%;
  }
  .laptop-74 {
    width: 74%;
  }
  .laptop-75 {
    width: 75%;
  }
  .laptop-76 {
    width: 76%;
  }
  .laptop-77 {
    width: 77%;
  }
  .laptop-78 {
    width: 78%;
  }
  .laptop-79 {
    width: 79%;
  }
  .laptop-80 {
    width: 80%;
  }
  .laptop-81 {
    width: 81%;
  }
  .laptop-82 {
    width: 82%;
  }
  .laptop-83 {
    width: 83%;
  }
  .laptop-84 {
    width: 84%;
  }
  .laptop-85 {
    width: 85%;
  }
  .laptop-86 {
    width: 86%;
  }
  .laptop-87 {
    width: 87%;
  }
  .laptop-88 {
    width: 88%;
  }
  .laptop-89 {
    width: 89%;
  }
  .laptop-90 {
    width: 90%;
  }
  .laptop-91 {
    width: 91%;
  }
  .laptop-92 {
    width: 92%;
  }
  .laptop-93 {
    width: 93%;
  }
  .laptop-94 {
    width: 94%;
  }
  .laptop-95 {
    width: 95%;
  }
  .laptop-96 {
    width: 96%;
  }
  .laptop-97 {
    width: 97%;
  }
  .laptop-98 {
    width: 98%;
  }
  .laptop-99 {
    width: 99%;
  }
  .laptop-100 {
    width: 100%;
  }
  .laptop-auto {
    width: auto;
  }
  .laptop-hidden {
    display: none;
  }
}

@media all and (min-width: 1224px) {
  .pc-1 {
    width: 1%;
  }
  .pc-2 {
    width: 2%;
  }
  .pc-3 {
    width: 3%;
  }
  .pc-4 {
    width: 4%;
  }
  .pc-5 {
    width: 5%;
  }
  .pc-6 {
    width: 6%;
  }
  .pc-7 {
    width: 7%;
  }
  .pc-8 {
    width: 8%;
  }
  .pc-9 {
    width: 9%;
  }
  .pc-10 {
    width: 10%;
  }
  .pc-11 {
    width: 11%;
  }
  .pc-12 {
    width: 12%;
  }
  .pc-13 {
    width: 13%;
  }
  .pc-14 {
    width: 14%;
  }
  .pc-15 {
    width: 15%;
  }
  .pc-16 {
    width: 16%;
  }
  .pc-17 {
    width: 17%;
  }
  .pc-18 {
    width: 18%;
  }
  .pc-19 {
    width: 19%;
  }
  .pc-20 {
    width: 20%;
  }
  .pc-21 {
    width: 21%;
  }
  .pc-22 {
    width: 22%;
  }
  .pc-23 {
    width: 23%;
  }
  .pc-24 {
    width: 24%;
  }
  .pc-25 {
    width: 25%;
  }
  .pc-26 {
    width: 26%;
  }
  .pc-27 {
    width: 27%;
  }
  .pc-28 {
    width: 28%;
  }
  .pc-29 {
    width: 29%;
  }
  .pc-30 {
    width: 30%;
  }
  .pc-31 {
    width: 31%;
  }
  .pc-32 {
    width: 32%;
  }
  .pc-33 {
    width: 33%;
  }
  .pc-34 {
    width: 34%;
  }
  .pc-35 {
    width: 35%;
  }
  .pc-36 {
    width: 36%;
  }
  .pc-37 {
    width: 37%;
  }
  .pc-38 {
    width: 38%;
  }
  .pc-39 {
    width: 39%;
  }
  .pc-40 {
    width: 40%;
  }
  .pc-41 {
    width: 41%;
  }
  .pc-42 {
    width: 42%;
  }
  .pc-43 {
    width: 43%;
  }
  .pc-44 {
    width: 44%;
  }
  .pc-45 {
    width: 45%;
  }
  .pc-46 {
    width: 46%;
  }
  .pc-47 {
    width: 47%;
  }
  .pc-48 {
    width: 48%;
  }
  .pc-49 {
    width: 49%;
  }
  .pc-50 {
    width: 50%;
  }
  .pc-51 {
    width: 51%;
  }
  .pc-52 {
    width: 52%;
  }
  .pc-53 {
    width: 53%;
  }
  .pc-54 {
    width: 54%;
  }
  .pc-55 {
    width: 55%;
  }
  .pc-56 {
    width: 56%;
  }
  .pc-57 {
    width: 57%;
  }
  .pc-58 {
    width: 58%;
  }
  .pc-59 {
    width: 59%;
  }
  .pc-60 {
    width: 60%;
  }
  .pc-61 {
    width: 61%;
  }
  .pc-62 {
    width: 62%;
  }
  .pc-63 {
    width: 63%;
  }
  .pc-64 {
    width: 64%;
  }
  .pc-65 {
    width: 65%;
  }
  .pc-66 {
    width: 66%;
  }
  .pc-67 {
    width: 67%;
  }
  .pc-68 {
    width: 68%;
  }
  .pc-69 {
    width: 69%;
  }
  .pc-70 {
    width: 70%;
  }
  .pc-71 {
    width: 71%;
  }
  .pc-72 {
    width: 72%;
  }
  .pc-73 {
    width: 73%;
  }
  .pc-74 {
    width: 74%;
  }
  .pc-75 {
    width: 75%;
  }
  .pc-76 {
    width: 76%;
  }
  .pc-77 {
    width: 77%;
  }
  .pc-78 {
    width: 78%;
  }
  .pc-79 {
    width: 79%;
  }
  .pc-80 {
    width: 80%;
  }
  .pc-81 {
    width: 81%;
  }
  .pc-82 {
    width: 82%;
  }
  .pc-83 {
    width: 83%;
  }
  .pc-84 {
    width: 84%;
  }
  .pc-85 {
    width: 85%;
  }
  .pc-86 {
    width: 86%;
  }
  .pc-87 {
    width: 87%;
  }
  .pc-88 {
    width: 88%;
  }
  .pc-89 {
    width: 89%;
  }
  .pc-90 {
    width: 90%;
  }
  .pc-91 {
    width: 91%;
  }
  .pc-92 {
    width: 92%;
  }
  .pc-93 {
    width: 93%;
  }
  .pc-94 {
    width: 94%;
  }
  .pc-95 {
    width: 95%;
  }
  .pc-96 {
    width: 96%;
  }
  .pc-97 {
    width: 97%;
  }
  .pc-98 {
    width: 98%;
  }
  .pc-99 {
    width: 99%;
  }
  .pc-100 {
    width: 100%;
  }
  .pc-auto {
    width: auto;
  }
  .pc-hidden {
    display: none;
  }
}

@media all and (min-width: 1824px) {
  .large-1 {
    width: 1%;
  }
  .large-2 {
    width: 2%;
  }
  .large-3 {
    width: 3%;
  }
  .large-4 {
    width: 4%;
  }
  .large-5 {
    width: 5%;
  }
  .large-6 {
    width: 6%;
  }
  .large-7 {
    width: 7%;
  }
  .large-8 {
    width: 8%;
  }
  .large-9 {
    width: 9%;
  }
  .large-10 {
    width: 10%;
  }
  .large-11 {
    width: 11%;
  }
  .large-12 {
    width: 12%;
  }
  .large-13 {
    width: 13%;
  }
  .large-14 {
    width: 14%;
  }
  .large-15 {
    width: 15%;
  }
  .large-16 {
    width: 16%;
  }
  .large-17 {
    width: 17%;
  }
  .large-18 {
    width: 18%;
  }
  .large-19 {
    width: 19%;
  }
  .large-20 {
    width: 20%;
  }
  .large-21 {
    width: 21%;
  }
  .large-22 {
    width: 22%;
  }
  .large-23 {
    width: 23%;
  }
  .large-24 {
    width: 24%;
  }
  .large-25 {
    width: 25%;
  }
  .large-26 {
    width: 26%;
  }
  .large-27 {
    width: 27%;
  }
  .large-28 {
    width: 28%;
  }
  .large-29 {
    width: 29%;
  }
  .large-30 {
    width: 30%;
  }
  .large-31 {
    width: 31%;
  }
  .large-32 {
    width: 32%;
  }
  .large-33 {
    width: 33%;
  }
  .large-34 {
    width: 34%;
  }
  .large-35 {
    width: 35%;
  }
  .large-36 {
    width: 36%;
  }
  .large-37 {
    width: 37%;
  }
  .large-38 {
    width: 38%;
  }
  .large-39 {
    width: 39%;
  }
  .large-40 {
    width: 40%;
  }
  .large-41 {
    width: 41%;
  }
  .large-42 {
    width: 42%;
  }
  .large-43 {
    width: 43%;
  }
  .large-44 {
    width: 44%;
  }
  .large-45 {
    width: 45%;
  }
  .large-46 {
    width: 46%;
  }
  .large-47 {
    width: 47%;
  }
  .large-48 {
    width: 48%;
  }
  .large-49 {
    width: 49%;
  }
  .large-50 {
    width: 50%;
  }
  .large-51 {
    width: 51%;
  }
  .large-52 {
    width: 52%;
  }
  .large-53 {
    width: 53%;
  }
  .large-54 {
    width: 54%;
  }
  .large-55 {
    width: 55%;
  }
  .large-56 {
    width: 56%;
  }
  .large-57 {
    width: 57%;
  }
  .large-58 {
    width: 58%;
  }
  .large-59 {
    width: 59%;
  }
  .large-60 {
    width: 60%;
  }
  .large-61 {
    width: 61%;
  }
  .large-62 {
    width: 62%;
  }
  .large-63 {
    width: 63%;
  }
  .large-64 {
    width: 64%;
  }
  .large-65 {
    width: 65%;
  }
  .large-66 {
    width: 66%;
  }
  .large-67 {
    width: 67%;
  }
  .large-68 {
    width: 68%;
  }
  .large-69 {
    width: 69%;
  }
  .large-70 {
    width: 70%;
  }
  .large-71 {
    width: 71%;
  }
  .large-72 {
    width: 72%;
  }
  .large-73 {
    width: 73%;
  }
  .large-74 {
    width: 74%;
  }
  .large-75 {
    width: 75%;
  }
  .large-76 {
    width: 76%;
  }
  .large-77 {
    width: 77%;
  }
  .large-78 {
    width: 78%;
  }
  .large-79 {
    width: 79%;
  }
  .large-80 {
    width: 80%;
  }
  .large-81 {
    width: 81%;
  }
  .large-82 {
    width: 82%;
  }
  .large-83 {
    width: 83%;
  }
  .large-84 {
    width: 84%;
  }
  .large-85 {
    width: 85%;
  }
  .large-86 {
    width: 86%;
  }
  .large-87 {
    width: 87%;
  }
  .large-88 {
    width: 88%;
  }
  .large-89 {
    width: 89%;
  }
  .large-90 {
    width: 90%;
  }
  .large-91 {
    width: 91%;
  }
  .large-92 {
    width: 92%;
  }
  .large-93 {
    width: 93%;
  }
  .large-94 {
    width: 94%;
  }
  .large-95 {
    width: 95%;
  }
  .large-96 {
    width: 96%;
  }
  .large-97 {
    width: 97%;
  }
  .large-98 {
    width: 98%;
  }
  .large-99 {
    width: 99%;
  }
  .large-100 {
    width: 100%;
  }
  .large-auto {
    width: auto;
  }
  .large-hidden {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */