block config
	include ../config/config
	include ../config/mixins

block php
doctype html5
html(lang="es")
	block head
		head
			title= title
			meta(charset="utf-8")
			link(rel="icon" type="image/png" href="resources/images/icon.png")
			meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
			link(href="https://file.myfontastic.com/dgDbkkB8Fa2a8wimvMu34f/icons.css" rel="stylesheet")
			link(href="css/normalize.css" rel="stylesheet")
			| <link href="css/styles.css?<?php echo time(); ?>" rel="stylesheet">
			| <script>
			| if(window.location.href.match("http:")) {
			|	window.location.href = window.location.href.replace('http', 'https');
			| }
			| </script>
	body(class=bodyClass)
		block header
		block nav
		block main
		block footer
			include ../components/footer

	script(src="js/jquery.js")
	script(src="js/push.min.js")
	<script src="js/scripts.js?<?php echo time(); ?>"></script>
	if isIndex
		script(src="js/form.js")
	else
		script(src="js/navbar.js")
		| <?php echo $notifications; ?>
	block scripts
