extends templates/base

append config
	-title= "Ilumíname - Editar cuenta"
	
block nav
	|<?php include('inc/templates/navbar.php') ?>

block main
	.mainContent
		.user_information
			section.user-picture-edit
				<img src='<?php echo clean($myrow["foto"]);?>' id='edit-image' class='edit-foto'>
				| <div class='upload-item leave-button'>
				| 	<label for='edit-image-control' >Cambiar imagen</label>
				| 	<input type='file' name='photo' form='form-personal' id='edit-image-control' value='Cambiar foto'>
				| </div>
				| <button class='full-button form-delete' onclick='javascript:delete_account()'>Eliminar cuenta</button>
			.forms-section
				| <div class='separator' name='Datos personales'></div>
				| <form action='edit_account.php' method='post' class='edit-form' id='form-personal' enctype='multipart/form-data'>
				| 	<input type='text' name='name' value='<?php echo clean($myrow["nombre"]); ?>' class='edit-item' placeholder='Y cuentanos, ¿Como te llamas?' required>
				| 	<input type='text' name='username' value='<?php echo clean($myrow["usuario"]); ?>' placeholder='Se creativo, ¿con que usuario quieres identificarte?' class='edit-item' required>
				| 	<input type='email' name='email' value='<?php echo clean($myrow["correo"]); ?>' placeholder='¿A qué correo te podran escribir?' class='edit-item' required>
				| 	<input type='tel' name='phone_number' value='<?php echo clean($myrow["telefono"]); ?>' placeholder='¿Con que número te podran contactar?' class='edit-item'>
				| 	<textarea name='aboutme' placeholder='Cuentanos un poco sobre ti, ¿que te gusta hacer?' class='edit-item' rows='3' maxlength='200'><?php echo clean($myrow["aboutme"]); ?></textarea>
				| 	<input type='submit' value='Guardar cambios' class='join-button'>
				| </form>
				| <div class='separator' name='Cambio de contraseña'></div>
				| <form action='change_password.php' method='post' class='edit-form'>
				| 	<input type='password' name='old_password' placeholder='Contraseña actual' class='edit-item' minlength='6' maxlength='20' required>
				| 	<input type='password' name='new_password' placeholder='Contraseña nueva' class='edit-item' minlength='6' maxlength='20' required>
				| 	<input type='password' name='conf_new_password' placeholder='Contraseña nueva' class='edit-item' minlength='6' maxlength='20' required>
				| 	<input type='submit' value='Cambiar contraseña' class='join-button'>
				| </form>
