extends templates/base

append config
	-title= "Ilumíname - Seguidores"
	
block nav
	|<?php include('inc/templates/navbar.php') ?>

block main
	.mainContent
		.separator(name='Mis seguidores')
		.box-group#users-group
