extends templates/base

append config
	-title= "Ilumíname - Home"

block nav
	|<?php include('inc/templates/navbar.php') ?>

block main
	.mainContent
		<?php if ($welcome || $home_query || $search_monitoria) { ?>
		<div class='box-group box-grow' id='home-monitories'>
		<?php if ($welcome) { ?>
		section.welcome
			section.welcome-header
				img(src='resources/svgs/laughing.svg').welcome-emoji
				h2 Bienvenido/a <?php echo $myrow['nombre'];?> a Ilumíname, la red de estudiantes y monitores más cool de la Javeriana
			section.welcome-information
				a(href='configuration.php').welcome-help
					img(src='resources/svgs/cool.svg').welcome-image
					h6.sub-title.ilm-configuration Cambia tu foto de perfil y tus datos personales
				.welcome-help
					img(src='resources/svgs/search.svg').welcome-image
					h6.sub-title.ilm-search Buscar materias, usuarios y monitorias que desees
				.welcome-help
					img(src='resources/svgs/learn.svg').welcome-image
					h6.sub-title.ilm-users Sigue a otros usuarios para estar pendiente de las monitorias que ellos brindan
				.welcome-help
					img(src='resources/svgs/talk.svg').welcome-image
					h6.sub-title.ilm-chat Conversa directamente con un usuario de forma rapida
				.welcome-help
					img(src='resources/svgs/mobile.svg').welcome-image
					h6.sub-title Disfruta de nuestro servicio desde cualquier dispositivo movil
		<?php } elseif($query_results == 0) { ?>
		.not-found-box.box
			.planet
				i.ilm-sad
				| <h2 class='glitch' data-text='¡ Whooops !'>¡ Whooops !</h2>
				| <h5 class='glitch' data-text='No hubieron resultados'>No hubieron resultados</h5>
		<?php } ?>
		</div>
		<?php } ?>
		
		<?php if ($search_materia) { ?>
		<div class='box-group box-grow' id='subjects-search'>
		<?php if ($query_results == 0) { ?>
		.not-found-box.box
			.planet
				i.ilm-sad
				| <h2 class='glitch' data-text='¡ Whooops !'>¡ Whooops !</h2>
				| <h5 class='glitch' data-text='No hubieron resultados'>No hubieron resultados</h5>
		<?php } ?>
		</div>
		<?php } ?>
		
		<?php if ($search_usuario) { ?>
		<div class='users'><div class='box-group box-grow' id='users-search'>
		<?php if ($query_results == 0) { ?>
		.not-found-box.box
			.planet
				i.ilm-sad
				| <h2 class='glitch' data-text='¡ Whooops !'>¡ Whooops !</h2>
				| <h5 class='glitch' data-text='No hubieron resultados'>No hubieron resultados</h5>
		<?php } ?>
		</div></div>
		<?php } ?>
