extends templates/base

append config
	-title= "Ilumíname - Home"

block nav
	|<?php include('inc/templates/navbar.php') ?>

block main
	.mainContent
		| <?php if (isset($search)) { ?>
		| <div class='separator' name="Monitorias de materias relacionadas a '<?php echo clean($search) ?>'"></div>
		| <?php } ?>
		.box-group#home-monitories
		| <?php if (isset($search)) { ?>
		| <div class='separator' name="Usuarios relacionados a '<?php echo clean($search) ?>'"></div>
		| <div class='box-group' id='users-search'></div>
		| <?php } ?>
