extends templates/base

append config
	-title= "Ilumíname - Home"
	
block nav
	include components/navbar

block main
	.mainContent
		include components/controlPane
		section
			h1 Hola mundo
			h1 Hola mundo
			h1 Hola mundo
			h1 Hola mundo
		section
			h3 Nose
			h3 Nose
			h3 Nose
			h3 Nose
