extends templates/base

append config
	-title= "Ilumíname - Home"
	
block nav
	include components/navbar

block main
	.mainContent
		include components/controlPane
		section.mainContent
			h1 Hola mundo
			h1 Hola mundo
