extends templates/base

append config
	-title= "Ilumíname"
	-bodyClass= "indexBody"

block main
	.main-box
		.fm-container#initial-form
			.fm-container_header
				img(src='resources/images/icon.png').fm-container_logo
				h1.fm-container_title Ilumíname
				h5.fm-container_subtitle Portal web de monitorias dedicado a estudiantes
			.fm-container_body
				form.fm-form.actual_form#login-form(action="index.php" method="post" autocomplete="off")
					.fm-form_group
						label.fm-form_introMessage ¡Hola! Bienvenido
						label.fm-form_warning <?php echo clean($login_result);?>
						| <input type='text' class='fm-form_control' name='login_username' placeholder='Usuario' value='<?php echo clean($login_username);?>' required>
						input(type='password' name="login_password" placeholder='Contraseña' required).fm-form_control
						input(type='submit' value='Ingresar').fm-form_button
					.fm-form_group
						p.fm-form_message ¿No tienes una cuenta aun? 
							a(target='#register-form').fm-form_link Registrate
						p.fm-form_message ¿Olvidaste tu contraseña? 
							a(target='#forgot-form').fm-form_link Recuperala
				form.fm-form#register-form(action="register.php" method="post" autocomplete="off")
					.fm-form_group
						label.fm-form_introMessage Registrate y encuentra las monitorias que necesitas de forma facil y rapida
							br
							|¡Es gratis!
						label.fm-form_warning
						input(type='text' name='register_name' placeholder='Nombre' required).fm-form_control
						input(type='text' name='register_username' placeholder='Usuario' required).fm-form_control
						input(type='email' name='register_email' placeholder='Correo' required).fm-form_control
						input(type='password' name='register_password' placeholder='Contraseña' required).fm-form_control
						input(type='password' name='register_password_conf' placeholder='Contraseña' required).fm-form_control
						input(type='submit' value='Registrarme').fm-form_button
					.fm-form_group
						p.fm-form_message ¿Ya tienes una cuenta? 
							a(target='#login-form').fm-form_link Ingresa
						p.fm-form_message ¿Olvidaste tu contraseña? 
							a(target='#forgot-form').fm-form_link Recuperala
				form.fm-form#forgot-form(action="forgot.php" method="post" autocomplete="off")
					.fm-form_group
						label.fm-form_introMessage Brindanos tu correo para enviarte los pasos para cambiar tu contraseña
						label.fm-form_warning
						input(type='email' name="forgot_email" placeholder='Correo' required).fm-form_control
						input(type='submit' value='Recuperar').fm-form_button
					.fm-form_group
						p.fm-form_message ¿Ya tienes una cuenta? 
							a(target='#login-form').fm-form_link Ingresa
						p.fm-form_message ¿No tienes una cuenta aun? 
							a(target='#register-form').fm-form_link Registrate
