extends templates/base

append config
	-title= "Ilumíname - Error"
	
block nav
	|<?php include('inc/templates/navbar.php') ?>

block main
	.mainContent
		.not-found-box.box
			.planet
				a(target="_blank" href="http://codepen.io/jonny-dev/")
					i.ilm-sad
					| <h2 class='glitch' data-text='¡ Whooops !'>¡ Whooops !</h2>
					| <h5 class='glitch' data-text='<?php echo $object_not_found; ?> no encontrado'><?php echo $object_not_found; ?> no encontrado</h5>
