extends templates/base

append config
	-title= "Ilumíname - Notificaciones"
	
block nav
	include components/navbar

block main
	.mainContent
		.separator(data-content='22/04/2017')
		.box-group
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15625369_1740657899586089_5204408783928819712_a.jpg', 'Carlos Eduardo Camacho', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/11410339_857773544301773_1638908020_a.jpg', 'Carlos Quimbay Cunalata', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/11887148_1617879835152288_232994344_a.jpg', 'Stephanie Domínguez', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
		.separator(data-content='21/04/2017')
		.box-group
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15803548_1860855724157140_2949620093912350720_a.jpg', 'Luis David Zarate', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15625369_1740657899586089_5204408783928819712_a.jpg', 'Carlos Eduardo Camacho', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/11410339_857773544301773_1638908020_a.jpg', 'Carlos Quimbay Cunalata', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia repellat doloremque incidunt qui. Incidunt, dicta.', '3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15803548_1860855724157140_2949620093912350720_a.jpg', 'Luis David Zarate', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15625369_1740657899586089_5204408783928819712_a.jpg', 'Carlos Eduardo Camacho', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
		.separator(data-content='20/04/2017')
		.box-group
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15625369_1740657899586089_5204408783928819712_a.jpg', 'Carlos Eduardo Camacho', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/11410339_857773544301773_1638908020_a.jpg', 'Carlos Quimbay Cunalata', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/11410339_857773544301773_1638908020_a.jpg', 'Carlos Quimbay Cunalata', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15803548_1860855724157140_2949620093912350720_a.jpg', 'Luis David Zarate', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/11410339_857773544301773_1638908020_a.jpg', 'Carlos Quimbay Cunalata', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15803548_1860855724157140_2949620093912350720_a.jpg', 'Luis David Zarate', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, temporibus.', '3:52pm')
