extends templates/base

append config
	-title= "Ilumíname - Notificaciones"
	
block nav
	include components/navbar
	include components/controlPane

block main
	.mainContent
		.group(data-content='22/04/2017')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
		.group(data-content='21/04/2017')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
		.group(data-content='20/04/2017')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
			+notification('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, aliquid.','3:52pm')
		
