extends templates/base

append config
	-title= "Ilumíname - Perfil"

block nav
	|<?php include('inc/templates/navbar.php') ?>

block head
	title= title
	meta(charset="utf-8")
	link(rel="icon" type="image/png" href="resources/images/icon.png")
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
	link(href="css/normalize.css" rel="stylesheet")
	link(href="https://file.myfontastic.com/dgDbkkB8Fa2a8wimvMu34f/icons.css" rel="stylesheet")
	link(href="css/owl.carousel.min.css" rel="stylesheet")
	link(href="css/owl.theme.default.min.css" rel="stylesheet")
	link(href="css/styles.css" rel="stylesheet")

block scripts
	script(src="js/owl.carousel.min.js")
	| <script src="js/profile.js?<?php echo time(); ?>"></script>

block main
	.mainContent.profile
		section.profile-header
			section.profile-card
				| <img src='<?php echo clean($search_result["foto"]); ?>' class='profile-photo'>
				.info
					h3 <?php echo clean($search_result["nombre"]); ?>
					p.user-id <?php echo clean($search_result["usuario"]); ?>
					article.follows
						| <a class='data' href='users.php<?php echo $extra; ?>' data='<?php echo clean($search_result["seguidores"]); ?>' id='profile-followers'>seguidores</a>
						.follows-separator
						| <a class='data' href='users.php<?php echo $extra; ?>' data='<?php echo clean($search_result["seguidos"]); ?>'>seguidos</a>
					| <?php if(!$isMyProfile && $isFollowMe) { ?>
					| <p class='follow-you'>Te sigue</p>
					| <?php	} ?>
					p.user-description <?php echo clean($search_result["aboutme"]); ?>
					| <?php if(!$isMyProfile) { ?>
					| <article class='buttons-group'>
					| 	<button class='<?php echo clean($follow_button_class) ?>-button' onclick="<?php echo clean($follow_button_class) ?>('<?php echo clean($search_result["id"]) ?>', this, true)"><?php echo clean($follow_button_text) ?></button>
					| 	<a href="messages.php?user=<?php echo clean($search_result["usuario"]); ?>">
					|		<button class='chat-button'>Chat</button>
					| 	</a>
					| </article>
					| <?php	} else { ?>
					| <a href='configuration.php' class='profile-edit ilm-configuration'></a>
					| <?php	} ?>
		section.profile-body
			.owl-carousel.owl-theme#cards
				.box.profile-mini-card
					.box-h-section.box-align-center.box-justify-center
						h1.ilm-subject
					.box-h-section.box-justify-center
						| <h3 class='sub-title box-data' name='<?php echo $count_materias ?> '>materias</h3>
				.box.profile-mini-card
					.box-h-section.box-align-center.box-justify-center
						h1.ilm-tutories
					.box-h-section.box-justify-center
						| <h3 class='sub-title box-data' name='<?php echo $count_monitorias_dictadas ?> '>monitorias dictadas</h3>
				.box.profile-mini-card
					.box-h-section.box-align-center.box-justify-center
						h1.ilm-users
					.box-h-section.box-justify-center
						| <h3 class='sub-title box-data' name='<?php echo $count_estudiantes ?> '>estudiantes monitoreados</h3>
				.box.profile-mini-card
					.box-h-section.box-align-center.box-justify-center
						h1.ilm-my-tutories
					.box-h-section.box-justify-center
						| <h3 class='sub-title box-data' name='<?php echo $count_monitorias_asistidas ?> '>monitorias asistidas</h3>
		<?php if($have_subjects) {?>
		section.profile-body
			.separator(name='Materias en las que brindo monitorias')
			.owl-carousel.owl-theme.profile-cards#profile-subjects
		<?php } ?>
		<?php if($have_public_monitories) {?>
		section.profile-body
			.separator(name='Monitorias publicas activas')
			.box-group.owl-carousel.owl-theme.profile-cards#profile-active-monitories
		<?php } ?>
