extends templates/base

append config
	-title= "Ilumíname - Perfil"

block nav
	|<?php include('inc/templates/navbar.php') ?>

block head
	title= title
	meta(charset="utf-8")
	link(rel="icon" type="image/png" href="resources/images/icon.png")
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
	link(href="css/normalize.css" rel="stylesheet")
	link(href="https://file.myfontastic.com/dgDbkkB8Fa2a8wimvMu34f/icons.css" rel="stylesheet")
	link(href="css/owl.carousel.min.css" rel="stylesheet")
	link(href="css/owl.theme.default.min.css" rel="stylesheet")
	link(href="css/styles.css" rel="stylesheet")

block scripts
	script(src="js/owl.carousel.min.js")
	script(src="js/profile.js")

block main
	.mainContent.profile
		section.profile-header
			section.profile-card
				| <img src='<?php echo clean($search_result["foto"]); ?>' class='profile-photo'>
				.info
					h3 <?php echo clean($search_result["nombre"]); ?>
					p.user-id <?php echo clean($search_result["usuario"]); ?>
					article.follows
						| <a class='data' href='followers.php<?php echo $extra; ?>' data='<?php echo clean($search_result["seguidores"]); ?>' id='profile-followers'>seguidores</a>
						.follows-separator
						| <a class='data' href='users.php<?php echo $extra; ?>' data='<?php echo clean($search_result["seguidos"]); ?>'>seguidos</a>
					| <?php if(!$isMyProfile && $isFollowMe) { ?>
					| <p>Te sigue</p>
					| <?php	} ?>
					p.user-description <?php echo clean($search_result["aboutme"]); ?>
					| <?php if(!$isMyProfile) { ?>
					| <article class='buttons-group'>
					| 	<button class='<?php echo clean($follow_button_class) ?>-button' onclick="<?php echo clean($follow_button_class) ?>('<?php echo clean($search_result["id"]) ?>', this)"><?php echo clean($follow_button_text) ?></button>
					| 	<a href="messages.php?user=<?php echo clean($search_result["usuario"]); ?>">
					|		<button class='chat-button'>Chat</button>
					| 	</a>
					| </article>
					| <?php	} else { ?>
					| <a href='#' class='profile-edit ilm-configuration'></a>
					| <?php	} ?>
		section.profile-body
			.owl-carousel.owl-theme#cards
				.box.profile-mini-card
					.box-h-section.box-align-center.box-justify-center
						h1.ilm-subject
					.box-h-section.box-justify-center
						| <h3 class='sub-title box-data' name='<?php echo $count_materias ?> '>materias</h3>
				.box.profile-mini-card
					.box-h-section.box-align-center.box-justify-center
						h1.ilm-tutories
					.box-h-section.box-justify-center
						| <h3 class='sub-title box-data' name='<?php echo $count_monitorias_dictadas ?> '>monitorias dictadas</h3>
				.box.profile-mini-card
					.box-h-section.box-align-center.box-justify-center
						h1.ilm-users
					.box-h-section.box-justify-center
						| <h3 class='sub-title box-data' name='<?php echo $count_estudiantes ?> '>estudiantes monitoreados</h3>
				.box.profile-mini-card
					.box-h-section.box-align-center.box-justify-center
						h1.ilm-my-tutories
					.box-h-section.box-justify-center
						| <h3 class='sub-title box-data' name='<?php echo $count_monitorias_asistidas ?> '>monitorias asistidas</h3>
		section.profile-body
			.separator(name='Materias en las que brindo monitorias')
			.owl-carousel.owl-theme#profile-subjects
				section.box.box-margin
					a(href="#").box-v-section.box-header
						p.sub-title Ingeniería de software
						.ranking
							.fst &#x2606&#x2606&#x2606&#x2606&#x2606
							.scd(style='width: ' + 80 + '%;') &#x2605&#x2605&#x2605&#x2605&#x2605
							.value 80 / 100'
							.data 30 monitorias dictadas
					section.box-v-section
						p.box-data Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ut saepe neque, atque corporis magnam perspiciatis expedita, exercitationem adipisci modi?
					section.box-v-section.box-align-center
						p.box-data(name= '$20.000 / hora privada' data-tooltip-long='Solo tu y el monitor' data-tooltip-short= '(x1)')
						p.box-data(name= '$15.000 / hora publica' data-tooltip-long='Maximo 5 personas' data-tooltip-short= '(x5)')
					section.box-h-section.box-footer.box-justify-center
						button.join-button Pedir una monitoria
				section.box.box-margin
					a(href="#").box-v-section.box-header
						p.sub-title Pensamiento algoritmico
						.ranking
							.fst &#x2606&#x2606&#x2606&#x2606&#x2606
							.scd(style='width: ' + 80 + '%;') &#x2605&#x2605&#x2605&#x2605&#x2605
							.value 80 / 100'
							.data 30 monitorias dictadas
					section.box-v-section
						p.box-data Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ut saepe neque, atque corporis magnam perspiciatis expedita, exercitationem adipisci modi?
					section.box-v-section.box-align-center
						p.box-data(name= '$20.000 / hora privada' data-tooltip-long='Solo tu y el monitor' data-tooltip-short= '(x1)')
						p.box-data(name= '$15.000 / hora publica' data-tooltip-long='Maximo 5 personas' data-tooltip-short= '(x5)')
					section.box-h-section.box-footer.box-justify-center
						button.join-button Pedir una monitoria
				section.box.box-margin
					a(href="#").box-v-section.box-header
						p.sub-title Calculo vectorial
						.ranking
							.fst &#x2606&#x2606&#x2606&#x2606&#x2606
							.scd(style='width: ' + 80 + '%;') &#x2605&#x2605&#x2605&#x2605&#x2605
							.value 80 / 100'
							.data 30 monitorias dictadas
					section.box-v-section
						p.box-data Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ut saepe neque, atque corporis magnam perspiciatis expedita, exercitationem adipisci modi?
					section.box-v-section.box-align-center
						p.box-data(name= '$20.000 / hora privada' data-tooltip-long='Solo tu y el monitor' data-tooltip-short= '(x1)')
						p.box-data(name= '$15.000 / hora publica' data-tooltip-long='Maximo 5 personas' data-tooltip-short= '(x5)')
					section.box-h-section.box-footer.box-justify-center
						button.join-button Pedir una monitoria
				section.box.box-margin
					a(href="#").box-v-section.box-header
						p.sub-title Estructuras de datos
						.ranking
							.fst &#x2606&#x2606&#x2606&#x2606&#x2606
							.scd(style='width: ' + 80 + '%;') &#x2605&#x2605&#x2605&#x2605&#x2605
							.value 80 / 100'
							.data 30 monitorias dictadas
					section.box-v-section
						p.box-data Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ut saepe neque, atque corporis magnam perspiciatis expedita, exercitationem adipisci modi?
					section.box-v-section.box-align-center
						p.box-data(name= '$20.000 / hora privada' data-tooltip-long='Solo tu y el monitor' data-tooltip-short= '(x1)')
						p.box-data(name= '$15.000 / hora publica' data-tooltip-long='Maximo 5 personas' data-tooltip-short= '(x5)')
					section.box-h-section.box-footer.box-justify-center
						button.join-button Pedir una monitoria
				section.box.box-margin
					a(href="#").box-v-section.box-header
						p.sub-title Sistemas operativos
						.ranking
							.fst &#x2606&#x2606&#x2606&#x2606&#x2606
							.scd(style='width: ' + 80 + '%;') &#x2605&#x2605&#x2605&#x2605&#x2605
							.value 80 / 100'
							.data 30 monitorias dictadas
					section.box-v-section
						p.box-data Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ut saepe neque, atque corporis magnam perspiciatis expedita, exercitationem adipisci modi?
					section.box-v-section.box-align-center
						p.box-data(name= '$20.000 / hora privada' data-tooltip-long='Solo tu y el monitor' data-tooltip-short= '(x1)')
						p.box-data(name= '$15.000 / hora publica' data-tooltip-long='Maximo 5 personas' data-tooltip-short= '(x5)')
					section.box-h-section.box-footer.box-justify-center
						button.join-button Pedir una monitoria
				section.box.box-margin
					a(href="#").box-v-section.box-header
						p.sub-title Administración basica de linux
						.ranking
							.fst &#x2606&#x2606&#x2606&#x2606&#x2606
							.scd(style='width: ' + 80 + '%;') &#x2605&#x2605&#x2605&#x2605&#x2605
							.value 80 / 100'
							.data 30 monitorias dictadas
					section.box-v-section
						p.box-data Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ut saepe neque, atque corporis magnam perspiciatis expedita, exercitationem adipisci modi?
					section.box-v-section.box-align-center
						p.box-data(name= '$20.000 / hora privada' data-tooltip-long='Solo tu y el monitor' data-tooltip-short= '(x1)')
						p.box-data(name= '$15.000 / hora publica' data-tooltip-long='Maximo 5 personas' data-tooltip-short= '(x5)')
					section.box-h-section.box-footer.box-justify-center
						button.join-button Pedir una monitoria
		section.profile-body
			.separator(name='Monitorias publicas activas')
			.box-group.owl-carousel.owl-theme#profile-active-monitories
				section.box.box-margin
					a(href="#").box-h-section.box-header
						img(src='https://ig-s-a-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-15/e35/12145363_500768776766300_40156557_n.jpg').picture
						.box-v-section.box-justify-center.gutter-0
							p.sub-title Ingenieria de software
							p José Domínguez
					section.box-v-section
						p.box-data(name='Lugar: ') Biblioteca sotano 2 - sala 3
						p.box-data(name='Fecha: ') Abril 19 de 2017
						p.box-data(name='Duración: ') 2:00pm - 4:00pm
						p.box-data(name='Precio por estudiante: ') $15.000
					section.box-v-section.box-footer.box-align-center
						p.box-data 2 / 3 estudiantes inscritos
						button.join-button Deseo unirme
				section.box.box-margin
					a(href="#").box-h-section.box-header
						img(src='https://ig-s-a-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-15/e35/12145363_500768776766300_40156557_n.jpg').picture
						.box-v-section.box-justify-center.gutter-0
							p.sub-title Ingenieria de software
							p José Domínguez
					section.box-v-section
						p.box-data(name='Lugar: ') Biblioteca sotano 2 - sala 3
						p.box-data(name='Fecha: ') Abril 19 de 2017
						p.box-data(name='Duración: ') 2:00pm - 4:00pm
						p.box-data(name='Precio por estudiante: ') $15.000
					section.box-v-section.box-footer.box-align-center
						p.box-data 2 / 3 estudiantes inscritos
						button.join-button Deseo unirme
				section.box.box-margin
					a(href="#").box-h-section.box-header
						img(src='https://ig-s-a-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-15/e35/12145363_500768776766300_40156557_n.jpg').picture
						.box-v-section.box-justify-center.gutter-0
							p.sub-title Ingenieria de software
							p José Domínguez
					section.box-v-section
						p.box-data(name='Lugar: ') Biblioteca sotano 2 - sala 3
						p.box-data(name='Fecha: ') Abril 19 de 2017
						p.box-data(name='Duración: ') 2:00pm - 4:00pm
						p.box-data(name='Precio por estudiante: ') $15.000
					section.box-v-section.box-footer.box-align-center
						p.box-data 2 / 3 estudiantes inscritos
						button.join-button Deseo unirme
				section.box.box-margin
					a(href="#").box-h-section.box-header
						img(src='https://ig-s-a-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-15/e35/12145363_500768776766300_40156557_n.jpg').picture
						.box-v-section.box-justify-center.gutter-0
							p.sub-title Ingenieria de software
							p José Domínguez
					section.box-v-section
						p.box-data(name='Lugar: ') Biblioteca sotano 2 - sala 3
						p.box-data(name='Fecha: ') Abril 19 de 2017
						p.box-data(name='Duración: ') 2:00pm - 4:00pm
						p.box-data(name='Precio por estudiante: ') $15.000
					section.box-v-section.box-footer.box-align-center
						p.box-data 2 / 3 estudiantes inscritos
						button.join-button Deseo unirme
