extends templates/base

append config
	-title= "Ilumíname - Monitorias pendientes"
	
block nav
	|<?php include('inc/templates/navbar.php') ?>

block main
	.mainContent
		<?php if($my_tutories) { ?>
		.separator(name='Mis monitorias por dictar')
		.box-group#active-monitories
		.separator(name='Historial de monitorias dictadas')
		.box-group#past-monitories
		<?php } else { ?>
		section.monitoria
			section.header
				| <a href='profile.php?user=<?php echo $usuario; ?>'><img src='<?php echo $foto; ?>' class='photo'></a>
				section.header-group
					p.main-title <?php echo $materia; ?>
					p <?php echo $monitor; ?>
					section#tutorie-rating
					section.header-sub-group
						br
						p.ilm-date <?php echo $fecha; ?>
						p.ilm-time <?php echo $duracion; ?>
						br
						| <p class='ilm-user<?php echo ($es_publica ? 's' : ''); ?>'>Monitoria <?php echo (($es_publica) ? 'publica' : 'privada'); ?></p>
						p.ilm-place <?php echo $lugar; ?>
						p.ilm-money <?php echo $costo; ?>
						p.ilm-state(title='En espera / Aceptada / En progreso / Finalizada / Cancelada') Aceptada
					| <?php if(!$is_my_monitorie) { ?>
					|	<div class='monitoria-actions'>
					| 		<?php if(!$is_disabled) { ?>
					|			<button class='<?php echo $button_class; ?>-button' <?php echo $button_function; ?> <?php echo $button_enable; ?>><?php echo $button_text; ?></button>
					| 		<?php } ?>
					|		<a href="messages.php?user=<?php echo $usuario; ?>">
					|			<button class='chat-button'>Chat</button>
					|		</a>
					|	</div>
					| <?php } ?>
			section.information
				section.information-group
					.separator(name='Estudiantes inscritos')
					.box-group#estudents
				section.information-group
					.separator(name='Comentarios')
					.box-group#comments
		<?php } ?>
