extends templates/base

append config
	-title= "Ilumíname - Monitoria"
	
block nav
	|<?php include('inc/templates/navbar.php') ?>

block main
	.mainContent
		section.box.monitoria
			section.box-header.box-info
				p.main-title Monitoria de Ingenieria de software
			section.box-flex-content.monitoria-info
				img(src='https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/11410339_857773544301773_1638908020_a.jpg').photo
				.ranking
					.fst
						&#x2606&#x2606&#x2606&#x2606&#x2606
					.scd(style='width: 0%;')
						&#x2605&#x2605&#x2605&#x2605&#x2605
					.value 0 / 100
					.data Aun no ha sido calificada
				section.box-info
					p.box-data(name='Monitor: ') Carlos Quimbay Cunalata
					p.box-data(name='Lugar: ') Biblioteca sotano 2 - sala 3
					p.box-data(name='Fecha: ') 19/04/2017
					p.box-data(name='Duración: ') 2:00 pm - 4:00 pm
					p.box-data(name='Modalidad de la monitoria: ') Publica / Privada
					p.box-data(name='Estado actual: ') En espera / Aceptada / En progreso / Finalizada / Cancelada
			section.box-footer
				.separator(name='Estudiantes inscritos')
				.box-group
					+user('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno')
					+user('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/11887148_1617879835152288_232994344_a.jpg', 'Stephanie Domínguez')
					+user('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15803548_1860855724157140_2949620093912350720_a.jpg', 'Luis David Zarate')
			section.box-footer
				.separator(name='Comentarios')
				.box-group
					+user('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno')
					+user('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/11887148_1617879835152288_232994344_a.jpg', 'Stephanie Domínguez')
					+user('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15803548_1860855724157140_2949620093912350720_a.jpg', 'Luis David Zarate')
