extends templates/base

append config
	-title= "Ilumíname - Usuarios"
	
block nav
	|<?php include('inc/templates/navbar.php') ?>

block main
	.mainContent
		section.users
			section.users-section.followers
				.separator(name='Seguidores')
				.box-group#users-followers-group
			section.users-section.follows
				.separator(name='Seguidos')
				.box-group#users-follows-group
