extends templates/base

append config
	-title= "Ilumíname - Usuarios"
	
block nav
	|<?php include('inc/templates/navbar.php') ?>

block main
	.mainContent
		.box-group
			+user('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/12825742_1692854517660573_747437461_a.jpg','Maria Paula Moreno')
			+user('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15625369_1740657899586089_5204408783928819712_a.jpg', 'Carlos Eduardo Camacho')
			+user('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/11410339_857773544301773_1638908020_a.jpg', 'Carlos Quimbay Cunalata')
			+user('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/11887148_1617879835152288_232994344_a.jpg', 'Stephanie Domínguez')
			+user('https://instagram.feoh1-1.fna.fbcdn.net/t51.2885-19/s150x150/15803548_1860855724157140_2949620093912350720_a.jpg', 'Luis David Zarate')
