// Importar tipografia
@import 'https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans|Amatic+SC';

// Fuentes
$main-font: 'Josefin Sans', sans-serif;
$title-font: 'Dosis', sans-serif;
$logo-font: 'Amatic SC', cursive;
$light: 300;
$normal: 400;

// Gutter
$gutter: 10px;

// Tamaños
$font-size: 16px;
$h1: $font-size * 3.0;
$h2: $font-size * 2.7;
$h3: $font-size * 2.4;
$h4: $font-size * 2.1;
$h5: $font-size * 1.8;
$h6: $font-size * 1.5;

$z-index: (
	back: -100,
	tooltip: 100,
	modal: 200,
	navbar: 300
);

$breakpoints: (
	mobile: 640px,
	tablet: 768px,
	laptop: 1024px,
	pc: 1224px,
	large: 1824px
);

$colors: (
	azul-opaco: #DCF1F3,
	azul-claro: #29DAFF,
	azul-base: #00B1F3,
	azul-medio: #006BAB,
	azul-oscuro: #03151F,

	rojo-claro: #FF6646,
	rojo: #FF3532,
	rojo-medio: #DD5448,
	rojo-oscuro: #E41C39,

	verde: #4BAD4E,
	verde-oscuro: #2F7932,

	active: #888888,
	success: #00CB30,
	info: #50B2E1,
	warning: #FDA51E,
	danger: #BC0224,

	gris-oscuro: #333333,
	gris-medio: #787878,
	gris-claro: #F0F0F0,
	blanco: #FFFFFF,
	negro: #000000
);
