.chat {
	width: 100%;
	margin: 0;
	flex-grow: 1;

	#{&}-footer {
		flex-direction: row;
		align-items: flex-start;
	}

	#{&}-history {
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0;
		margin: $gutter / 2;
	}

	#{&}-message {
		padding: $gutter;
		max-width: 80%;
		width: auto;
		display: inline-block;
		margin: $gutter;
		margin-bottom: $gutter * 2.5;
		border-radius: $gutter;
		position: relative;

		&::before, &::after {
			position: absolute;
		}

		&::before {
			content: '';
			width: 10px;
			height: 10px;
			top: 0;
			border-bottom: 5px solid transparent;
		}

		&::after {
			content: attr(data-time);
			top: 100%;
			font-size: 0.7em;
			margin: $gutter / 2 $gutter 0;
		}
	}

	#{&}-user-1 {
		background: $azul-bonito;
		margin-right: auto;
		border-top-left-radius: 0;
		margin-left: $gutter * 2;

		&::before {
			right: 100%;
			border-top: 5px solid $azul-bonito;
			border-right: 5px solid $azul-bonito;
			border-left: 5px solid transparent;
		}
		&::after {
			left: 0;
		}
	}


	#{&}-user-2 {
		background: $verde-bonito;
		margin-left: auto;
		border-top-right-radius: 0;
		margin-right: $gutter * 2;

		&::before {
			left: 100%;
			border-top: 5px solid $verde-bonito;
			border-left: 5px solid $verde-bonito;
			border-right: 5px solid transparent;
		}
		&::after {
			right: 0;
		}
	}

	#{&}-typetext {
		padding: $gutter;
		margin-right: $gutter;
		flex-grow: 1;
		max-height: 100px;
		resize: none;
		line-height: 1.5em;
		outline: 0;
		display: inline-block;
		min-height: 15px;
	}
}
