$color-fondo: color(gris-claro);
$color-letra: color(blanco);
$color-borde: color(gris-oscuro);
$color-encabezado-fondo: color(azul-medio);
$color-encabezado-letra: color(azul-opaco);
$color-seccion-fondo: color(azul-base);
$color-seccion-hover: color(azul-medio);

.control-pane {
	flex-shrink: 0;
	align-self: stretch;
	width: 100%;
	margin: 0;
	background: $color-fondo;
	box-shadow: 0 5px 5px 1px $color-borde;
	transition: transform 0.5s ease-in-out;
	position: relative;
	display: flex;
	flex-direction: column;

	@include from(tablet) {
		width: 360px;
		margin: $gutter;
		align-self: stretch;
		display: block;
		transform: translateX(-370px);
		border: 2px solid $color-borde;
	}

	&.menu__visible {
		transform: translate(0);

		.control-pane-menuIcon {
			right: 0;
			opacity: 1;
			background: transparent;
			color: $color-encabezado-letra;
		}
	}

	#{&}-menuIcon, #{&}-notificationsIcon {
		width: 42px;
		height: 42px;
		border: 0;
		align-items: center;
		justify-content: center;
		outline: 0;
		cursor: pointer;

		@include from(tablet) {
			position: absolute;
			top: -2px;
			right: 0;
			right: -42px;
			background: $color-borde;
			transition: all 0.5s ease-in-out;
		}
	}

	#{&}-notificationsIcon {
		display: flex;

		@include from(tablet) {
			display: none;
		}
	}

	#{&}-menuIcon {
		display: none;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}

		@include from(tablet) {
			display: flex;
		}
	}

	#{&}-user {
		display: flex;
		align-items: center;
		position: relative;
		background: $color-encabezado-fondo;
		color: $color-encabezado-letra;
		outline: 1px solid $color-borde;
	}

	#{&}-userinfo {
		padding: $gutter;
		padding-left: 0;
		padding-right: $gutter;

		@include from(tablet) {
			padding-right: $gutter * 4;
		}
	}

	#{&}-userPicture {
		margin: $gutter;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: block;

		@include from(tablet) {
			width: 100px;
			height: 100px;
		}
	}

	#{&}-username, #{&}-userid {
		margin: 0;
		padding: 0;
	}

	#{&}-username {
		font-size: 1.3em;

		@include from(tablet) {
			font-size: 2em;
		}
	}

	#{&}-userid {
		color: $color-encabezado-letra;
		display: none;

		@include from(tablet) {
			display: inherit;
		}
	}

	#{&}-configIcon {
		width: 42px;
		height: 42px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;

		@include from(tablet) {
			position: absolute;
			left: calc(100% - 42px);
			bottom: 0;
			margin-left: 0;
		}
	}

	#{&}-info {
		padding: 0 $gutter;
		display: none;
	}

	#{&}-infoToggle {
		width: 100%;
		padding: 0 $gutter;
		background: $color-borde;
		color: $color-letra;
		justify-content: center;
		padding: $gutter / 2;
		border: 0;
		cursor: pointer;
		outline: 0;
		display: none;

		@include from(tablet) {
			display: flex;
		}
	}

	#{&}-data {
		margin: 0;
		padding: $gutter / 5 0;
	}

	#{&}-notifications {
		display: none;

		@include from(tablet) {
			display: block !important;
		}
	}

	#{&}-section {
		display: flex;
		align-items: center;
		background: $color-seccion-fondo;
		line-height: $gutter * 4;
		padding: 0;
		padding-left: $gutter;
		outline: 1px solid $color-borde;
		font-size: 0.9em;
		font-weight: bold;

		@include from(mobile) {
			font-size: 1.2em;
		}

		@include from(tablet) {
			font-size: 1.5em;
		}

		&:hover {
			background: $color-seccion-hover;
		}

		&::after {
			content: attr(data-counter);
			font-weight: bold;
			font-size: 13px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			background: $color-encabezado-fondo;
			color: $color-encabezado-letra;
			margin-right: 0;
			margin-left: auto;
		}

		&::before {
			margin-left: 0;
			order: 1;
		}
	}
}
