.control-pane {
	width: 100%;
	margin: 0;
	position: fixed;
	top: 50px;
	display: flex;
	z-index: z-index(navbar);
	flex-direction: column;

	@include from(tablet) {
		width: 360px;
		margin: $gutter;
		display: block;
		box-shadow: 0 3px 10px 1px $controlPane-border;
		transition: transform 0.5s ease-in-out;
		transform: translateX(calc(-100% - #{$gutter}));
	}

	&.menu__visible {
		transform: translate(0);

		.control-pane-menuIcon {
			right: 0;
			opacity: 1;
			background: transparent;
			box-shadow: none;
			color: $controlPane-header-color;
		}
	}

	#{&}-menuIcon, #{&}-notificationsIcon, #{&}-configIcon {
		width: 42px;
		height: 42px;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		@include from(tablet) {
			position: absolute;
			right: 0;
		}
	}

	#{&}-menuIcon, #{&}-notificationsIcon {
		@include from(tablet) {
			top: 0;
			transition: all 0.5s ease-in-out;
		}
	}

	#{&}-menuIcon {
		display: none;

		@include from(tablet) {
			display: flex;
			background: $controlPane-header-background;
			box-shadow: 1px 3px 10px $controlPane-border;
			right: -42px;
		}
	}

	#{&}-notificationsIcon {
		display: flex;

		@include from(tablet) {
			display: none;
		}
	}

	#{&}-configIcon {
		display: flex;
		margin-left: auto;

		@include from(tablet) {
			bottom: 0;
			margin-left: 0;
		}
	}

	#{&}-user {
		display: flex;
		align-items: center;
		position: relative;
		background: $controlPane-header-background;
		color: $controlPane-header-color;
		padding: $gutter / 2;
		border-bottom: 1px solid $controlPane-border;

		@include from(tablet) {
			padding: $gutter;
			padding-right: $gutter * 4;
		}
	}

	#{&}-userPicture {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: block;
		margin-right: $gutter;

		@include from(tablet) {
			width: 70px;
			height: 70px;
		}
	}

	#{&}-userid {
		display: none;

		@include from(tablet) {
			display: inherit;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	#{&}-info {
		padding: $gutter;
		display: none;
		background: $controlPane-header-background;
		color: $controlPane-header-color;
		font-size: 0.8em;

		@include from(tablet) {
			display: block;
		}
	}

	#{&}-notifications {
		display: none;

		@include from(tablet) {
			display: block !important;
		}
	}

	#{&}-section {
		display: flex;
		background: $controlPane-section-background;
		color: $controlPane-section-color;
		line-height: $gutter * 4;
		padding: 0;
		padding-left: $gutter;
		font-size: 0.9em;
		font-family: $title-font;
		transition: all 0.3s ease-in-out;
		border-bottom: 1px solid $controlPane-border;

		@include from(mobile) {
			font-size: 1.1em;
		}

		@include from(tablet) {
			font-size: 1.3em;
		}

		&:hover {
			background: $controlPane-section-background-hover;
			padding-left: $gutter * 2;
			font-weight: bold;
		}

		&::after, &::before {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&::after {
			content: attr(data-counter);
			font-size: 13px;
			font-weight: bold;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			background: $controlPane-header-background;
			color: $controlPane-header-color;
			margin: auto;
			margin-left: auto;
			margin-right: $gutter;
		}

		&::before {
			padding-left: 0;
			order: 1;
		}
	}
}
