.indexBody {
	background: image('/cover.png') center center;
	background-size: cover;
}

.main-box {
	width: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
