.mainContent {
	background: $mainContent-background;
	width: 100vw;
	margin: 115px auto 20px;
	box-shadow: 0 3px 5px 1px $mainContent-border;
	flex-grow: 1;

	&, .group {
		display: flex;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	@include from(mobile) {
		width: 91.6vw;
	}

	@include from(tablet) {
		width: 83.2vw;
		margin-top: 70px;
	}

	@include from(laptop) {
		width: 74.8vw;
	}

	@include from(pc) {
		width: 66.4vw;
	}

	@include from(large) {
		width: 58vw;
	}

	.group {
		display: flex;
		flex-wrap: wrap;
		margin: $gutter;

		&::before {
			content: attr(data-content);
			font-size: 0.8em;
			margin-top: $gutter / 2;
			margin-left: $gutter;
			font-weight: bold;
		}

		&::after {
			content: '';
			border: 1px solid $mainContent-border;
			width: 100%;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.ntf {
		order: 1;
		align-self: stretch;
		width: 100%;
		margin: $gutter;
		background: $mainContent-ntf-background;
		color: $mainContent-ntf-color;
		box-shadow: 0 3px 10px $mainContent-border;

		@include from(mobile) {
			width: calc(50% - #{$gutter * 2});
		}

		@include from(pc) {
			width: calc(33.33% - #{$gutter * 2});
		}
	}
}
