.main-navbar {
	display: flex;
	align-items: center;
	box-shadow: 0 2px 5px $azul-oscuro;
	background: $azul-medio;
	color: $azul-opaco;
	user-select: none;
	cursor: default;
	position: fixed;
	z-index: z-index(navbar);
	top: 0;
	width: 100%;

	#{&}-logo {
		width: 45px;
		height: 45px;
		padding: $gutter / 2;
		border-radius: 50%;
	}

	#{&}-name {
		padding: 0;
		padding-right: $gutter;
		display: none;
		font-family: $logo-font;

		@include from(tablet) {
			display: block;
		}
	}

	#{&}-finder {
		flex-grow: 1;
		align-self: stretch;
		display: flex;
		align-items: center;
		margin: 0;
		position: relative;
		margin: 0 $gutter;
	}

	#{&}-input {
		flex-grow: 1;
		border: 0;
		outline: 0;
		padding: $gutter / 2 $gutter;
		transition: border 0.1s ease-in-out;
		position: relative;

		&::after {
			width: 100px;
			height: 100px;
			position: absolute;
			top: 0;
			left: 0;
			content: 's';
			background: red;
		}

		&:focus {
			outline: 1px solid $azul-base;
		}
	}

	.ilm-search {
		position: absolute;
		right: 0;
		top: 0;
		color: $azul-oscuro;
		display: flex;
		align-items: center;
		height: 100%;
	}

	#{&}-boxNotification {
		display: none;
		position: absolute;
		right: 0;
		top: 100%;
		color: $azul-oscuro;
		box-shadow: 0 3px 5px -1px $azul-oscuro;
		z-index: z-index(navbar);
		width: 350px;
		padding-bottom: $gutter / 2;
		margin-right: $gutter;
		background: $azul-medio;

		@include from(tablet) {
			display: none;
		}
	}

	#{&}-notifications {
		max-height: 70vh;
		overflow-y: auto;
		background: $azul-opaco;
	}

	#{&}-logout, #{&}-notificator {
		width: 50px;
		height: 50px;
		align-self: stretch;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		position: relative;
		cursor: pointer;

		&:hover {
			background: $azul-opaco;
			color: $azul-medio;
		}
	}

	#{&}-logout {
		display: flex;
		border-left: 1px solid $azul-oscuro;
		margin-left: $gutter;
	}

	#{&}-notificator {
		display: none;

		@include from(tablet) {
			display: flex;
		}

		&.is-hover {
			background: $azul-opaco;
			color: $azul-medio;
		}

		&.activate::before {
			margin-top: 8px;
			margin-right: 8px;
		}

		&.activate::after {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 0;
			top: 0;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			background: $azul-base;
			color: $azul-opaco;
			content: attr(data-counter);
			font-weight: bold;
			margin-top: 6px;
			margin-right: 6px;
		}
	}

	#{&}-title {
		text-align: center;
		background: $azul-medio;
		color: $azul-opaco;
		padding: 0;
		padding: $gutter / 2 0;
	}

	.ntf:last-child {
		border: 0;
	}
}
