$color-fondo: color(azul-medio);
$color-letra: color(azul-opaco);
$color-borde: color(azul-oscuro);
$color-ntf-fondo: color(azul-base);
$color-ntf-letra: color(azul-opaco);

.main-navbar {
	display: flex;
	align-items: center;
	box-shadow: 0 2px 5px $color-borde;
	background: $color-fondo;
	color: $color-letra;
	position: relative;
	user-select: none;
	cursor: default;

	#{&}-logo {
		width: 45px;
		height: 45px;
		padding: $gutter / 2;
		border-radius: 50%;
	}

	#{&}-name {
		margin: 0;
		padding-right: $gutter;
		display: none;

		@include from(tablet) {
			display: block;
		}
	}

	#{&}-finder {
		flex-grow: 1;
		align-self: stretch;
		display: flex;
		align-items: center;
		margin: 0;
		position: relative;
	}

	#{&}-input {
		flex-grow: 1;
		border: 0;
		border: 1px solid $color-borde;
		box-shadow: 0 0 3px $color-borde inset, 0 0 3px $color-borde;
		outline: 0;
		padding: $gutter / 2 $gutter;
		margin-left: $gutter;
		transition: border 0.1s ease-in-out;
		position: relative;

		&::after {
			width: 100px;
			height: 100px;
			position: absolute;
			top: 0;
			left: 0;
			content: 's';
			background: red;
		}
	}

	.toogle-options {
		cursor: pointer;

		&.is-hover:before {
			content: '\e00E';
		}
	}

	#{&}-findOptions, #{&}-boxNotification {
		display: none;
		position: absolute;
		right: 0;
		top: 100%;
		color: $color-borde;
		box-shadow: 0 3px 5px -1px $color-borde;
		z-index: z-index(navbar);
	}

	#{&}-findOptions {
		width: 100%;
		background: $color-ntf-fondo;
	}

	#{&}-boxNotification {
		width: 350px;
		max-height: 85vh;
		overflow-y: auto;

		@include from(tablet) {
			display: none;
		}
	}

	#{&}-logout, #{&}-notificator {
		width: 50px;
		height: 50px;
		align-self: stretch;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		position: relative;
		cursor: pointer;

		&:hover {
			background: $color-letra;
			color: $color-fondo;
		}
	}

	#{&}-logout {
		display: flex;
		border-left: 1px solid $color-borde;
		margin-left: $gutter;
	}

	#{&}-notificator {
		display: none;

		@include from(tablet) {
			display: flex;
		}

		&.is-hover {
			background: $color-letra;
			color: $color-fondo;
		}

		&.activate::before {
			margin-top: 8px;
			margin-right: 8px;
		}

		&.activate::after {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 0;
			top: 0;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			background: $color-ntf-fondo;
			color: $color-ntf-letra;
			content: attr(data-counter);
			font-weight: bold;
			margin-top: 6px;
			margin-right: 6px;
		}
	}

	#{&}-title {
		font-size: 1em;
		text-align: center;
		background: $color-fondo;
		color: $color-ntf-letra;
		border-bottom: 1px solid $color-letra;
		padding: 0;
	}

	.ntf:last-child {
		border: 0;
	}
}
