.profile {
	display: flex;
	flex-direction: column;

	#{&}-header {
		background: $background-1;
		color: $color-1;
		flex-shrink: 0;
	}

	#{&}-edit {
		position: absolute;
		right: 0;
		top: 0;
		padding: $gutter 0;
		cursor: pointer;
	}

	#{&}-card {
		background: $background-2;
		color: $color-2;
		width: 100%;
		position: relative;

		@include from(500px) {
			width: 400px;
			margin: 0 auto;
			border-radius: $gutter;
			overflow: hidden;
			transform: translateY(30px);
			box-shadow: 0 3px 10px $borde;
		}
	}

	#{&}-card-photo {
		width: 100%;
		display: block;
	}

	#{&}-card-info {
		background: rgba($blanco, 0.3);
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
	}

	#{&}-card-follows {
		display: flex;
		justify-content: center;
		margin: $gutter;

		.profile-data {
			display: flex;
			align-items: center;
			margin: 0 $gutter;
			flex-direction: column;
			font-weight: bold;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom: 1px solid;
			}

			&::before {
				content: attr(counter);
				font-weight: normal;
				margin-right: $gutter / 2;
				font-size: $h1;
			}
		}
	}

	.user-description {
		padding: $gutter $gutter * 4;
	}

	.button-group {
		margin: $gutter;
		margin-bottom: $gutter * 3;
	}

	#{&}-body {
		color: $color-2;
		padding: $gutter;
		background: $background-2;

		@include from(500px) {
			margin-top: $gutter;
			margin: $gutter / 2 0;

			&:nth-child(2) {
				margin-top: 0;
				padding-top: $gutter * 5;
			}
		}
	}

	#{&}-mini-card {
		min-width: 150px;
		width: 200px;
		height: 200px;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: $gutter auto;
		background: $box-footer-background;
	}
}
