.profile-widget {
	width: 100%;
	margin: 0;
	position: absolute;
	top: 100%;
	right: 0;
	display: none;

	@include from(tablet) {
		width: 400px;
		margin: $gutter;
		box-shadow: 0 3px 10px 1px $widget-profile-border;
	}

	#{&}-notificationsIcon, #{&}-configIcon {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

	}

	#{&}-notificationsIcon {
		top: 0;
		@include from(tablet) {
			transition: all 0.5s ease-in-out;
			display: none;
		}
	}

	#{&}-configIcon {
		margin-left: auto;

		@include from(tablet) {
			position: absolute;
			bottom: 0;
			right: 0;
			margin-left: 0;
		}
	}

	#{&}-user {
		display: flex;
		align-items: center;
		position: relative;
		background: $widget-profile-header-background;
		color: $widget-profile-header-color;
		padding: $gutter / 2;
		border-bottom: 1px solid $widget-profile-section-background;

		@include from(tablet) {
			padding: $gutter;
			padding-right: $gutter * 3;
		}
	}

	#{&}-userPicture {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: block;
		margin-right: $gutter;
		object-fit: cover;

		@include from(tablet) {
			width: 70px;
			height: 70px;
		}
	}

	.user-id {
		display: none;

		@include from(tablet) {
			display: inherit;
		}
	}

	#{&}-followers {
		display: none;

		@include from(tablet) {
			display: inherit;
		}

		&::after {
			font-size: 0.9em;
			content: attr(counter) ' seguidores';
		}
	}

	.user-description {
		display: none;
		background: $widget-profile-header-background;
		color: $widget-profile-header-color;

		@include from(tablet) {
			display: block;
		}
	}

	#{&}-notifications {
		overflow: auto;
	}

	#{&}-logout, #{&}-section {
		display: flex;
		background: $widget-profile-section-background;
		color: $widget-profile-section-color;
		line-height: $gutter * 4;
		padding: 0;
		padding-left: $gutter;
		font-size: 0.9em;
		font-family: $title-font;
		transition: all 0.3s ease-in-out;
		border-bottom: 1px solid $widget-profile-border;

		@include from(mobile) {
			font-size: 1.1em;
		}

		@include from(tablet) {
			font-size: 1.3em;
		}

		&:hover {
			background: $widget-profile-section-background-hover;
			padding-left: $gutter * 2;
			font-weight: bold;
		}

		&::after, &::before {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&::before {
			order: 1;
			padding-left: 0;
		}
	}

	#{&}-logout {
		background: $widget-profile-section-background-hover;
		font-weight: bold;

		&::before {
			margin-left: auto;
		}
	}

	#{&}-section {
		&::after {
			content: attr(counter);
			font-size: 13px;
			font-weight: bold;
			width: 22px;
			height: 22px;
			margin: auto;
			margin-left: auto;
			margin-right: $gutter;
		}
	}
}
