// Global colors
$background-1: $azul-medio;
$color-1: $azul-opaco;

$background-2: $azul-opaco;
$color-2: $azul-oscuro;

$background-3: $azul-bonito;
$color-3: $azul-oscuro;

$background-4: $blanco;
$color-4: $azul-oscuro;

$borde: $azul-oscuro;

// Box
$box-background: $background-2;	// Dependiente
$box-color: $color-2;	// Dependiente
$box-border: $borde;	// Dependiente
$box-header-background: $background-3;	// Dependiente
$box-header-color: $color-3	;// Dependiente
$box-footer-background: darken($box-background, 10);	// Constantes
$box-footer-color: $color-2;	// Constantes
$box-disabled: $gris-claro;	// Constantes
$box-header-disabled: $gris-medio;	// Constantes
$box-footer-disabled: darken($box-disabled, 10);	// Constantes

// Box Notification
$box-notificacion-background: $background-4;	// Dependiente
$box-notificacion-color: $color-4;	// Dependiente
$box-notificacion-background-hover: darken($box-notificacion-background, 20);	// Dependiente

// Buttons
$button-color: $azul-oscuro;
$button-join: $verde-claro;
$button-add: $verde-claro;
$button-follow: $verde-claro;
$button-unfollow: lighten($azul-bonito, 10);
$button-full: $rojo-claro;
$button-cancel: $rojo-claro;
$button-leave: $azul-bonito;
$button-disabled: $gris-medio;
$button-default: $gris-medio;
$button-send: $azul-bonito;
$button-chat: lighten($azul-bonito, 10);

// Control pane
$widget-profile-border: $borde;	// Dependiente
$widget-profile-header-background: $background-1;	// Dependiente
$widget-profile-header-color: $color-1; 	// Dependiente
$widget-profile-section-background: $background-2;	// Dependiente
$widget-profile-section-color: $color-2;	// Dependiente
$widget-profile-section-background-hover: darken($widget-profile-section-background, 20);	// Dependiente

// Form
$form-background: $background-4;	// Dependiente
$form-border: $borde;	// Dependiente
$form-control-focus: $azul-base;
$form-control-background: $gris-claro; // Constante
$form-warning: $rojo-medio; // Constante
$form-button-background: $azul-base;
$form-button-color: $blanco;
$form-button-border: $azul-medio;
$form-link: $azul-medio;

// Footer
$footer-background: $color-4;	// Dependiente
$footer-color: $background-4;	// Dependiente

// Navbar
$navbar-background: $background-1;	// Dependiente
$navbar-color: $color-1; 	// Dependiente
$navbar-border: $borde;	// Dependiente
$navbar-ntf-background: $background-3;	// Dependiente
$navbar-ntf-color: $color-3;	// Dependiente

// Scroll-bar
$scroll-background: $background-4;	// Dependiente
$scroll-border: $borde;	// Dependiente
