// Global colors
$background-1: $verde-medio;
$background-2: $verde-opaco;
$background-3: $verde-bonito;
$background-4: $blanco;

$color-1: $verde-opaco;
$color-2: $verde-oscuro;
$color-3: $verde-oscuro;
$color-4: $verde-oscuro;

$borde: $verde-oscuro;

// Buttons
$button-color: $azul-oscuro;
$button-join: $verde-claro;
$button-full: $rojo-claro;
$button-leave: $azul-bonito;

// Control pane
$controlPane-border: $borde;	// Dependiente
$controlPane-header-background: $background-1;	// Dependiente
$controlPane-header-color: $color-1; 	// Dependiente
$controlPane-section-background: $background-2;	// Dependiente
$controlPane-section-color: $color-2;	// Dependiente
$controlPane-section-background-hover: darken($controlPane-section-background, 20);	// Dependiente

// Form
$form-background: $background-4;	// Dependiente
$form-border: $borde;	// Dependiente
$form-control-focus: $azul-base;
$form-control-background: $gris-claro; // Constante
$form-warning: $rojo-medio; // Constante
$form-button-background: $azul-base;
$form-button-color: $blanco;
$form-button-border: $azul-medio;
$form-link: $azul-medio;

// Footer
$footer-background: $color-4;	// Dependiente
$footer-color: $background-4;	// Dependiente

// Main content
$mainContent-background: $background-2;	// Dependiente
$mainContent-border: $color-2;	// Dependiente
$mainContent-ntf-background: $background-4;	// Dependiente
$mainContent-ntf-color: $color-4;	// Dependiente

// Monitoria
$monitoria-background: $background-4;	// Dependiente
$monitoria-color: $color-4;	// Dependiente
$monitoria-border: $borde;	// Dependiente
$monitoria-header-background: $background-3;	// Dependiente
$monitoria-header-color: $color-3	;// Dependiente
$monitoria-spec-background: $gris-claro;	// Constantes
$monitoria-spec-color: $azul-oscuro;	// Constantes

// Navbar
$navbar-background: $background-1;	// Dependiente
$navbar-color: $color-1; 	// Dependiente
$navbar-border: $borde;	// Dependiente
$navbar-ntf-background: $background-3;	// Dependiente
$navbar-ntf-color: $color-3;	// Dependiente

// Notificacion
$notificacion-background: $background-2;	// Dependiente
$notificacion-background-hover: darken($notificacion-background, 20);	// Dependiente
$notificacion-color: $color-2;	// Dependiente
$notificacion-border: $borde;	// Dependiente

// Scroll-bar
$scroll-background: $background-4;	// Dependiente
$scroll-border: $borde;	// Dependiente
