*, *::before, *::after {
	box-sizing: border-box;
	user-select: none;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	border: 1px solid $scroll-border;
	background: $scroll-background;
	border-radius: 5px;
}

body {
	font-size : $font-size;
	font-family : $main-font;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 350px;
}

h1 {
	font-size : $h1;
}

h2 {
	font-size : $h2;
}

h3 {
	font-size : $h3;
}

h4 {
	font-size:  $h4;
}

h5 {
	font-size:  $h5;
}

h6 {
	font-size:  $h6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title-font;
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

footer {
	display: flex;
	margin-top: auto;
	width: 100%;
	font-size: 0.8em;
	padding: $gutter / 2 $gutter;
	justify-content: space-between;
	background: $footer-background;
	color: $footer-color;

	.ilm-github {
		display: flex;
		align-items: center;
	}

	.ilm-github::before {
		font-size: 1.2em;
	}
}
