.box-group {
	display: flex;
	flex-wrap: wrap;
	margin: $gutter;

	&::before {
		content: attr(data-content);
		margin-top: $gutter / 2;
		margin-left: $gutter;
		font-weight: bold;
	}

	&::after {
		content: '';
		border: 1px solid $box-border;
		width: 100%;
	}

	&:last-child {
		border-bottom: 0;
	}
}

.box, .box-notification {
	background: $box-background;
	color: $box-color;
	width: 100%;
	position: relative;
	align-self: stretch;
	order: 1;
}

.box {
	box-shadow: 0 3px 10px $box-border;
	margin: $gutter;
	display: flex;
	flex-direction: column;

	@include from(tablet) {
		width: calc(50% - #{$gutter * 2});
	}

	@include from(pc) {
		width: calc(33.33% - #{$gutter * 2});
	}
}

.box-notification {
	border-bottom: 1px solid $box-border;
	padding-bottom: $gutter;

	&:hover {
		background: $box-notificacion-background-hover;
	}

	&:last-child {
		border-bottom: 0;
	}
}

.box-header {
	background: $box-header-background;
	color: $box-header-color;
	display: flex;
	padding: $gutter;
}

.box-content {
	padding: $gutter;
	flex-grow: 1;
}

.box-flex-content {
	padding: $gutter;
	display: flex;
}

.box-footer {
	background: $box-footer-background;
	color: $box-footer-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $gutter;
	margin-top: auto;
}

.box-info {
	padding-left: $gutter;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.box-data {
	padding-bottom: $gutter / 3;

	&::before {
		content: attr(data-name);
		font-weight: bold;
	}

	&::after {
		content: attr(data-tooltip-short);
		font-size: 0.9em;
		margin-left: $gutter;
	}

	&:hover::after {
		content: attr(data-tooltip-long);
	}
}

.box-data-fixed {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: $gutter;
	margin-bottom: $gutter / 2;
	font-size: 0.7em;
}

.box-list {
	padding: 0;

	&::before {
		display: block;
		content: attr(data-name);
		padding-bottom: $gutter;
		font-weight: bold;
	}

	.box-list-item {
		margin-left: $gutter * 3;
		&::before {
			content: '';
		}
	}
}

.box-disabled {
	background: $box-disabled;

	.box-header {
		background: $box-header-disabled;
	}

	.box-footer {
		background: $box-footer-disabled;
	}
}
