[class $= '-button'] {
	padding: $gutter / 4 $gutter;
	color: $button-color;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0 0 30px 20px transparent;
	transition: box-shadow 0.2s ease-out;
	outline: 0;
}

.join-button {
	background: $button-join;

	&:active {
		box-shadow: 0 0 0 0 $button-join;
	}
}

.full-button {
	background: $button-full;

	&:active {
		box-shadow: 0 0 0 0 $button-full;
	}
}

.leave-button {
	background: $button-leave;

	&:active {
		box-shadow: 0 0 0 0 $button-leave;
	}
}
