[class *= '-button'] {
	padding: $gutter / 2 $gutter * 2;
	margin: 0 $gutter;
	color: $button-color;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0 0 30px 20px transparent;
	transition: box-shadow 0.2s ease-out;
	outline: 0;
}

.buttons-group {
	display: flex;
	margin: $gutter;
}

.join-button {
	background: $button-join;

	&:active {
		box-shadow: 0 0 0 0 $button-join;
	}
}

.add-button {
	background: $button-add;

	&:active {
		box-shadow: 0 0 0 0 $button-add;
	}
}

.full-button {
	background: $button-full;

	&:active {
		box-shadow: 0 0 0 0 $button-full;
	}
}

.send-button {
	background: $button-send;

	&:active {
		box-shadow: 0 0 0 0 $button-send;
	}
}

.cancel-button {
	background: $button-cancel;

	&:active {
		box-shadow: 0 0 0 0 $button-cancel;
	}
}

.leave-button {
	background: $button-leave;

	&:active {
		box-shadow: 0 0 0 0 $button-leave;
	}
}

.follow-button {
	background: $button-follow;
	box-shadow: 0 0 30px 20px transparent, 0 2px 5px 0 $button-color;

	&:active {
		box-shadow: 0 0 0 0 $button-follow, 0 1px 3px 0 $button-color;
	}
}

.unfollow-button {
	background: $button-unfollow;
	box-shadow: 0 0 30px 20px transparent, 0 2px 5px 0 $button-color;

	&:active {
		box-shadow: 0 0 0 0 $button-unfollow, 0 1px 3px 0 $button-color;
	}
}

.chat-button {
	background: $button-chat;
	box-shadow: 0 0 30px 20px transparent, 0 2px 5px 0 $button-color;

	&:active {
		box-shadow: 0 0 0 0 $button-chat, 0 1px 3px 0 $button-color;
	}
}

.disabled-button {
	background: $button-disabled;
	color: $blanco;

	&:disabled {
		cursor: default;
	}

	&:active {
		box-shadow: 0 0 0 0 $button-disabled;
	}
}

.default-button {
	margin: $gutter / 2 0;
	padding: $gutter / 2;
	font-size: 1em;
	box-shadow: 0 0 0 0;
	background: transparent;
	border: 1px solid $button-default;
	border-radius: 3px;

	&:active {
		box-shadow: 0 0 0 0;
	}
}
