.fm-container {
	width: 100%;
	flex-grow: 1;
	background: $form-background;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: $gutter;

	@include from('mobile') {
		width: 300px;
		flex-grow: 0;
		margin: 30px;
		border-radius: 10px;
		box-shadow: 0 5px 10px 3px $form-border;
	}

	#{&}_header {
		padding: $gutter;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding-top: $gutter * 2;
	}

	#{&}_logo {
		width: 130px;
		height: 130px;
	}

	#{&}_title {
		font-family: $logo-font;
		font-size: 2em;
		margin: 0;
		padding: 0;
	}

	#{&}_subtitle {
		margin: 0;
		padding: 0;
		font-size: 0.7em;
	}

	#{&}_body {
		display: none;
	}
}

.fm-form {
	display: none;

	#{&}_group {
		width: 80%;
		margin: $gutter auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#{&}_control {
		margin-bottom: $gutter;
		border: 0;
		outline: 0;
		padding: $gutter;
		width: 100%;
		background: $form-control-background;

		&:hover, &:focus {
			outline: 2px solid $form-control-focus;
		}
	}

	#{&}_introMessage, #{&}_warning {
		text-align: center;
		font-size: 0.9em;
		margin: 0;
		font-weight: bold;
	}

	#{&}_warning {
		color: $form-warning;
		margin-top: $gutter;
		margin-bottom: $gutter * 2;
	}

	#{&}_button {
		margin-top: 15px;
		background: $form-button-background;
		border: 0;
		padding: $gutter;
		width: 100%;
		color: $form-button-color;
		cursor: pointer;
		font-weight: bold;
		font-size: 1.2em;
		box-shadow: 0 3px 0 0 $form-button-border;
		text-shadow: 1px 1px 1px $form-border;

		&:active {
			transform: translateY(2px);
			box-shadow: 0 1px 0 0 $form-button-border;
			text-shadow: 1px 1px 5px $form-border;
		}
	}

	#{&}_message {
		font-size: 0.8em;
		margin: 0;
		margin-top: 3px;
	}

	#{&}_link {
		text-decoration: none;
		color: $form-link;
		cursor: pointer;
		text-decoration: underline;

		&:hover {
			font-weight: bold;
		}
	}
}
