.monitoria {
	align-self: stretch;
	width: 100%;
	margin: $gutter;
	box-shadow: 0 3px 10px $monitoria-border;
	display: flex;
	flex-direction: column;
	background: $monitoria-background;
	color: $monitoria-color;
	overflow: hidden;

	@include from(laptop) {
		width: calc(50% - #{$gutter * 2});
	}

	@include from(large) {
		width: calc(33.33% - #{$gutter * 2});
	}

	#{&}-header {
		padding: $gutter;
		display: flex;
		align-items: center;
		background: $monitoria-header-background;
		color: $monitoria-header-color;
	}

	#{&}-info {
		margin: auto;
		padding: $gutter;
	}

	#{&}-picture {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: $gutter;
	}

	#{&}-place, #{&}-date, #{&}-time, #{&}-price {
		&::before {
			font-weight: bold;
		}
	}

	#{&}-place::before {
		content: 'Lugar: ';
	}

	#{&}-date::before {
		content: 'Fecha: ';
	}

	#{&}-time::before {
		content: 'Duración: ';
	}

	#{&}-price::before {
		content: 'Valor: ';
	}

	#{&}-spec {
		margin-top: auto;
		padding: $gutter / 2;
		text-align: center;
		background: $monitoria-spec-background;
		color: $monitoria-spec-color;
	}

	#{&}-detail {
		font-size: 0.9em;
		padding-bottom: $gutter / 2;
	}

	#{&}-button {
		width: 200px;
	}
}
