$color-fondo: color(azul-opaco);
$color-letra: color(azul-oscuro);
$color-hv-fondo: color(azul-medio);
$color-hv-letra: color(azul-opaco);

.ntf {
	color: $color-letra;
	border-bottom: 1px solid $color-letra;
	background: $color-fondo;
	position: relative;
	display: flex;
	padding: $gutter;

	&:hover {
		background: $color-hv-fondo;
		color: $color-hv-letra;
	}

	#{&}-picture {
		display: block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	#{&}-group {
		padding-left: $gutter;
	}

	#{&}-subject, #{&}-user {
		padding: 0;
	}

	#{&}-monitor, #{&}-student, #{&}-place, #{&}-date, #{&}-time {
		margin: 0;

		&::before {
			font-weight: bold;
		}
	}

	#{&}-monitor::before {
		content: 'Monitor: ';
	}

	#{&}-student::before {
		content: 'Estudiante: ';
	}

	#{&}-place::before {
		content: 'Lugar: ';
	}

	#{&}-date::before {
		content: 'Fecha: ';
	}

	#{&}-time::before {
		content: 'Duración: ';
	}

	#{&}-description {
		padding: $gutter;
		padding-top: 0;
		padding-left: 0;
		margin: 0;
	}

	#{&}-dateFixed {
		font-style: italic;
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 0.7em;
		margin-right: $gutter;
		margin-bottom: $gutter / 2;
	}
}
