.logo {
	width: 45px;
	height: 45px;
	padding: $gutter / 2;
	border-radius: 50%;
	display: block;
}

[class *= 'picture'] {
	display: block;
	border-radius: 50%;
	display: block;
}

.picture {
	width: 40px;
	height: 40px;
}

.big-picture {
	width: 60px;
	height: 60px;
}

.photo {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
}
