@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.rating {
	display: flex;
	width: 100%;

	.rating-stars {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		position: relative;
		width: 100%;

		label {
			color: #aaa;

			&::before {
				font-family: FontAwesome;
				content: "\f005";
			}
		}

		[for *= '-half']::before {
			position: absolute;
			content: "\f089";
		}

		[for *= '-full']::before {
			text-shadow: 0 1px 0 black, 0 2px 0 black;
		}

		input {
			display: none;
		}

		input:checked ~ label {
			color: $amarillo-base;
		}

		&::before {
			transition: all 0.5s ease-out;
			content: attr(data-value);
			padding: 0 $gutter;
			border-radius: 3px;
			text-align: center;
		}

		&.active {
			font-size: 2em;
			justify-content: center;
			label:hover ~ label, label:hover {
				color: $amarillo-claro;
			}

			&::before {
				display: none;
			}
		}
	}
}
