aside.control-pane
	section.control-pane-user
		article.control-pane-usericon
			img(src='https://instagram.feoh3-1.fna.fbcdn.net/t51.2885-19/s150x150/16908563_725695954277996_8202653276341010432_a.jpg')
		section.control-pane-userinfo
			h4.control-pane-username Juan Manuel Sánchez
			a(href='#').control-pane-userid @juanmsl_pk
		a(href='#').control-pane-userconfig.ilm-configuration
	section.control-pane-info
		p.control-pane-data Pontificia Universidad Javeriana
		p.control-pane-data Ingenieria de sistemas
		p.control-pane-data 7mo semestre
	section.control-pane-section
		a(href='#').control-pane-link
			h6.control-pane-name Notificaciones
		section.control-pane-notification
			p.control-pane-counter 3
			i.control-pane-icon.ilm-notification
	section.control-pane-section
		a(href='#').control-pane-link
			h6.control-pane-name Mensajes
		section.control-pane-notification
			p.control-pane-counter 5
			i.control-pane-icon.ilm-chat
	section.control-pane-section
		a(href='#').control-pane-link
			h6.control-pane-name Mis monitorias
		section.control-pane-notification
			p.control-pane-counter 5
			i.control-pane-icon.ilm-my-tutories
	section.control-pane-section
		a(href='#').control-pane-link
			h6.control-pane-name Usuarios que sigo
		section.control-pane-notification
			p.control-pane-counter 53
			i.control-pane-icon.ilm-users
	section.control-pane-section
		a(href='#').control-pane-link
			h6.control-pane-name Materias
		section.control-pane-notification
			p.control-pane-counter 5
			i.control-pane-icon.ilm-subject
	section.control-pane-section
		a(href='#').control-pane-link
			h6.control-pane-name Monitorias pendientes
		section.control-pane-notification
			p.control-pane-counter 5
			i.control-pane-icon.ilm-tutories
	section.control-pane-section
		a(href='#').control-pane-link
			h6.control-pane-name Cerrar sesión
		section.control-pane-notification
			i.control-pane-icon.ilm-logout
