aside.control-pane#user-main-control
	section.control-pane-mainSection
		section.control-pane-user
			img(src='https://instagram.feoh3-1.fna.fbcdn.net/t51.2885-19/s150x150/16908563_725695954277996_8202653276341010432_a.jpg').control-pane-userPicture
			section.control-pane-userinfo
				h4.control-pane-username Juan Manuel Sánchez
				a(href='#').control-pane-userid @juanmsl_pk
			a(href='#').control-pane-configIcon.ilm-configuration
			i.control-pane-menuIcon.ilm-menu#toggle-user-main-control(data-target='#user-main-control')
			i.control-pane-notificationsIcon.ilm-menu#toggle-notifications(data-target='#notifications')
		section.control-pane-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor reiciendis enim id consequatur sapiente.
	section.control-pane-notifications#notifications
		a(href='#').control-pane-section.ilm-notification(data-counter='5') Notificaciones
		a(href='#').control-pane-section.ilm-chat(data-counter='4') Mensajes
		a(href='#').control-pane-section.ilm-my-tutories(data-counter='10') Mis monitorias
		a(href='#').control-pane-section.ilm-users(data-counter='53') Usuarios que sigo
		a(href='#').control-pane-section.ilm-subject(data-counter='2') Materias
		a(href='#').control-pane-section.ilm-tutories(data-counter='3') Monitorias pendientes
