footer.footer
	.copyright
		| Copyright &copy; 2017 - Iluminame.co - Todos los derechos reservados a sus respectivos dueños
	.github-link
		i.fa.fa-github &nbsp;
		a(href='https://github.com/juanmsl/Iluminame') View Source
