footer.footer
	.copyright
		| Copyright &copy; 2017 - Iluminame.co - Todos los derechos reservados a sus respectivos dueños
	.github-link
		a(href='https://github.com/juanmsl/Iluminame').ilm-github View Source
