nav.main-navbar
	img(src='resources/images/icon.png').main-navbar-logo
	h6.main-navbar-name Ilumíname
	form.main-navbar-finder
		input(type='text').main-navbar-input
		i.ilm-caret-down
	.main-navbar-notificator.ilm-tutories.activate(data-counter='9')
	.main-navbar-notificator.ilm-my-tutories.activate(data-counter='10')
	.main-navbar-notificator.ilm-chat.activate.activate(data-counter='4')
	.main-navbar-notificator.ilm-notification.activate(data-counter='9')
