|<?php include('php/php_navbar.php') ?>

nav.navbar#main-navbar
	a(href='/')
		img(src='resources/images/icon.png').logo
	a(href='/').logo-title Ilumíname
	form(action='home.php' method='get').navbar-finder
		section.main-bar
			.toggle#toggleOptions(target='#radio-options')
				i.icon-caret-down
			| <input type='search' name='search' placeholder='¿Buscas una materia, usuario o monitoria?' value='<?php if(isset($search)) echo clean($search); ?>' maxlength=20 class='search-bar'>
			section.radio-group#radio-options
				article.radio-option
					| <input type='radio' name='type' id='Monitoria' value='Monitoria' <?php if((isset($_GET['search']) && $_GET['type'] == 'Monitoria') || !isset($_GET['search'])) echo 'checked'; ?>>
					label(for='Monitoria') Monitoria
				article.radio-option
					| <input type='radio' name='type' id='Materia' value='Materia' <?php if(isset($_GET['search']) && $_GET['type'] == 'Materia') echo 'checked'; ?>>
					label(for='Materia') Materia
				article.radio-option
					| <input type='radio' name='type' id='Usuario' value='Usuario' <?php if(isset($_GET['search']) && $_GET['type'] == 'Usuario') echo 'checked'; ?>>
					label(for='Usuario') Usuario
		button(onclick='search.submit()' title='Buscar').submit
			i.icon-search
	.navbar-notificator.ilm-notification#toggle-notification(counter='0' target='#notification' title='Notificaciones')
	.navbar-notificator.ilm-chat#toggle-chat(counter='0' target='#chat' title='Mensajes')
	.navbar-notificator.ilm-my-tutories#toggle-my-tutories(counter='0' target='#my-tutories' title='Monitorias pendientes')
	.navbar-notificator.ilm-tutories#toggle-tutories(counter='0' target='#tutories' title='Monitorias por dictar')
	| <img src='<?php echo $myPic; ?>' class='navbar-profile picture' id='toggle-user-profile-widget' target='#user-profile-widget'>

	aside.profile-widget#user-profile-widget
		section.profile-widget-mainSection
			section.profile-widget-user
				| <a href='profile.php'><img src='<?php echo $myPic; ?>' class='profile-widget-userPicture'></a>
				section.profile-widget-userinfo
					h5.title
						a(href="profile.php") <?php echo $myName; ?>
					a(href='profile.php').user-id <?php echo $myUsername; ?>
				a(href='configuration.php').profile-widget-configIcon.ilm-configuration
			section.user-description <?php echo $myDescription; ?>
		section.profile-widget-notifications
			| <a href='notifications.php' class='profile-widget-section ilm-notification' counter='<?php echo $count_notificaciones; ?>'>Notificaciones</a>
			| <a href='my-tutories.php' class='profile-widget-section ilm-chat' counter='<?php echo $count_chats; ?>'>Mensajes</a>
			| <a href='my-tutories.php' class='profile-widget-section ilm-my-tutories' counter='<?php echo $count_my_tutories; ?>'>Mis monitorias</a>
			| <a href='users.php' class='profile-widget-section ilm-users'>Seguidores / Seguidos</a>
			| <a href='subjects.php' class='profile-widget-section ilm-subject' counter='<?php echo clean($navbar_query["count_subjects"]); ?>'>Materias</a>
			| <a href='tutories.php' class='profile-widget-section ilm-tutories' counter='<?php echo $count_tutories; ?>'>Monitorias pendientes</a>
			a(href='logout.php').profile-widget-logout.ilm-logout Cerrar sesión

	section.navbar-boxNotification#my-tutories
		h5.navbar-title Monitorias pendientes
		section.navbar-notifications
		a(href='my-tutories.php').navbar-more Ver todo
	section.navbar-boxNotification#tutories
		h5.navbar-title Monitorias por dictar
		section.navbar-notifications
		a(href='tutories.php').navbar-more Ver todo
	section.navbar-boxNotification#chat
		h5.navbar-title Mensajes
		section.navbar-notifications
	section.navbar-boxNotification#notification
		h5.navbar-title Notificaciones
		section.navbar-notifications
		a(href='notifications.php').navbar-more Ver todo
