nav.main-navbar#main-navbar
	img(src='resources/images/icon.png').main-navbar-logo
	h4.main-navbar-name Ilumíname
	form.main-navbar-finder
		input(type='text' placeholder='¿Buscas una materia?' data-icon="&#xe00f;").main-navbar-input
		a(href="#").ilm-search
	.main-navbar-notificator.ilm-my-tutories#toggle-my-tutories(data-counter='0' data-target='#my-tutories')
	.main-navbar-notificator.ilm-tutories#toggle-tutories(data-counter='0' data-target='#tutories')
	.main-navbar-notificator.ilm-chat#toggle-chat(data-counter='0' data-target='#chat')
	.main-navbar-notificator.ilm-notification#toggle-notification(data-counter='0' data-target='#notification')
	.main-navbar-logout.ilm-logout
	section.main-navbar-boxNotification#my-tutories
		h5.main-navbar-title Tutorias pendientes
		section.main-navbar-notifications
	section.main-navbar-boxNotification#tutories
		h5.main-navbar-title Tutorias por dictar
		section.main-navbar-notifications
	section.main-navbar-boxNotification#chat
		h5.main-navbar-title Mensajes
		section.main-navbar-notifications
	section.main-navbar-boxNotification#notification
		h5.main-navbar-title Notificaciones
		section.main-navbar-notifications
