.rating
	.rating-stars(data-value='3 / 5' id= rateID).active
		input(type='radio' name='rating' id='rt-five-full' value='5 / 5')
		label(for='rt-five-full' title='5.0')
		input(type='radio' name='rating' id='rt-four-half' value='4.5 / 5')
		label(for='rt-four-half' title='4.5')
		input(type='radio' name='rating' id='rt-four-full' value='4 / 5')
		label(for='rt-four-full' title='4.0')
		input(type='radio' name='rating' id='rt-tree-half' value='3.5 / 5')
		label(for='rt-tree-half' title='3.5')
		input(type='radio' name='rating' id='rt-tree-full' value='3 / 5' checked)
		label(for='rt-tree-full' title='3.0')
		input(type='radio' name='rating' id='rt-two-half' value='2.5 / 5')
		label(for='rt-two-half' title='2.5')
		input(type='radio' name='rating' id='rt-two-full' value='2 / 5')
		label(for='rt-two-full' title='2.0')
		input(type='radio' name='rating' id='rt-one-half' value='1.5 / 5')
		label(for='rt-one-half' title='1.5')
		input(type='radio' name='rating' id='rt-one-full' value='1 / 5')
		label(for='rt-one-full' title='1.0')
		input(type='radio' name='rating' id='rt-half' value='0.5 / 5')
		label(for='rt-half' title='0.5')
